{% if section.settings.select_fts == "footer_v7" %}
{% if template contains 'index' %}
<footer class="footer_v7" style="background-color : {{section.settings.ft_home_bg_footer}}">
  <div class="content_menu">
    <div class="container container-v3">    
      <div class="row align-items-center">        
        
        <div class="col-md-4 footer-w-4 {% if settings.enable_rtl_mode %} text-md-right {% else %} text-md-left {% endif %}">
          <div class="menu">
            <ul class="list-inline list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv7].links %}
              <li class="list-inline-item mr-0"><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
        <div class="col-md-4 footer-w-2">
          <div class="logo-footer">
            {% if settings.logo_svg7 !=blank %}
            <div class="logosvg" style="max-width:{{settings.fv7_main_logo_maxwidth}}px;">
              <a class="d-block" href="{{shop.url}}">{{settings.logo_svg7}}</a>
            </div>          
            {% else %}            
            <a href="{{shop.url}}" class="logo">
              {% if settings.fv7_main_logo != blank %}
              <img src="{{settings.fv7_main_logo | img_url:'master'}}"  width="{{settings.fv7_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% else %}
              <img src="//via.placeholder.com/120x35" width="{{settings.fv7_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% endif %}
            </a>
            {% endif %}
          </div>
        </div>
        
        <div class="col-md-4 footer-w-4{% if settings.enable_rtl_mode %} text-md-left {% else %} text-md-right {% endif %}">
          <div class="payment">
            {% if settings.fv7_bottom_payment_img != blank %}
            <img src="{{settings.fv7_bottom_payment_img | img_url:'master'}}"  alt="">
            {% else %}
            <img src="//via.placeholder.com/247x23"  alt="">
            {% endif %}
          </div>
        </div> 
      </div>
    </div> 
  </div>
  <div class="copyright text-center">
    {% if settings.fv7_bottom_copyright != blank %}
    <p>{{settings.fv7_bottom_copyright}}</p>
    {% else %}
    <div class="text-copyright mb-0"><p>© Copyright 2021 | <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  Foden </a> By <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
    </div> 
    {% endif %}
  </div>
</footer>

<style>
  .footer_v7 .content_menu .menu ul li a{
    color : {{section.settings.ft_home_color_heading}};
  }
  .footer_v7 .copyright p{
    color :{{section.settings.ft_home_color_text}};
  }
  .footer_v7 .copyright .text-copyright a{
    color : {{settings.color_main2}};
  }
</style>
{% endif %}
{% endif %}

{% if section.settings.select_fts_all == "footer_ver7" %}
{% unless template contains 'index' %}
<footer class="footer_v7" style="background-color : {{section.settings.ft_other_bg_footer}}">
  <div class="content_menu">
    <div class="container container-v3">    
      <div class="row align-items-center">        
        
        <div class="col-md-4 footer-w-4 {% if settings.enable_rtl_mode %} text-md-right {% else %} text-md-left {% endif %}">
          <div class="menu">
            <ul class="list-inline list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv7].links %}
              <li class="list-inline-item mr-0"><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
        <div class="col-md-4 footer-w-2">
          <div class="logo-footer">
            {% if settings.logo_svg7 !=blank %}
            <div class="logosvg" style="max-width:{{settings.fv7_main_logo_maxwidth}}px;">
              <a class="d-block" href="{{shop.url}}">{{settings.logo_svg7}}</a>
            </div>          
            {% else %}            
            <a href="{{shop.url}}" class="logo">
              {% if settings.fv7_main_logo != blank %}
              <img src="{{settings.fv7_main_logo | img_url:'master'}}"  width="{{settings.fv7_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% else %}
              <img src="//via.placeholder.com/120x35" width="{{settings.fv7_main_logo_maxwidth}}" alt="{{shop.name}}" class="img-fluid">
              {% endif %}
            </a>
            {% endif %}
          </div>
        </div>
        
        <div class="col-md-4 footer-w-4{% if settings.enable_rtl_mode %} text-md-left {% else %} text-md-right {% endif %}">
          <div class="payment">
            {% if settings.fv7_bottom_payment_img != blank %}
            <img src="{{settings.fv7_bottom_payment_img | img_url:'master'}}"  alt="">
            {% else %}
            <img src="//via.placeholder.com/247x23"  alt="">
            {% endif %}
          </div>
        </div> 
      </div>
    </div> 
  </div>
  <div class="copyright text-center">
    {% if settings.fv7_bottom_copyright != blank %}
    <p>{{settings.fv7_bottom_copyright}}</p>
    {% else %}
    <div class="text-copyright mb-0"><p>© Copyright 2021 | <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover bold">  Foden </a> By <a href="http://themeocean.net/" rel="nofollow" target="_blank" class="underline_hover link"> ThemeOcean.</a><a href="https://www.shopify.com/?ref=shopifycenter" rel="nofollow" target="_blank" class=""> Powered by Shopify.</a></p> 
    </div> 
    {% endif %}
  </div>
</footer>

<style>
  .footer_v7 .content_menu .menu ul li a{
    color : {{section.settings.ft_other_color_heading}};
  }
  .footer_v7 .copyright p{
    color :{{section.settings.ft_other_color_text}};
  }
  .footer_v7 .copyright .text-copyright a{
    color : {{settings.color_main2}};
  }
</style>
{% endunless %}
{% endif %}