{% if section.settings.select_hds == "header_v8" %}
{% if template contains 'index' %}
<header id="header" class="homepage header-v8-h8 js_height_hd jsheader_sticky d-none d-lg-block {% if section.settings.hd_home_enable_transparents %}header-absolute {% endif %}">
  {% if settings.enable_topbar %}
  <div id="bwp-topbar" class="topbar hidden-sm hidden-xs">
    <div class="container container-v4">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 topbar-left hidden-sm hidden-xs">
          <ul id="topbar_menu" class="menu">
            {% for link in linklists[settings.main_menu_topbar].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 topbar-right">
          <div class="email hidden-xs">
            {% if settings.icon_mail_topbar != blank %}
            <i class="{{settings.icon_mail_topbar}}"></i>
            {% endif %}
            <a href="mailto:{{settings.topbar_mail}}">{{settings.topbar_mail}}</a>
          </div>
          <div class="block-top-link">
            {% if settings.enable_currency %}
            <div class="currencies">
              {% include 'currency-picker' %}
            </div>
            {% endif %}
            {% if settings.enable_language %}
            <div class="change_language">
              {% include 'change-language' %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="header-desktop">
    <div class="container container-v4">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 header-left">
          <div class="logo">
            <div class="center logo delay05">           
              {% if section.settings.hd_home_logo_svg !=blank %}
              <div class="logosvg" style="max-width:{{section.settings.hd_home_logo_maxwidth}}px;">
                <a class="logourl" href="{{shop.url}}">{{section.settings.hd_home_logo_svg}}</a>
              </div>
              {% else %}            
              <a href="{{shop.url}}">
                {% if section.settings.hd_home_logo != blank %}
                <img src="{{section.settings.hd_home_logo|img_url:'master'}}" width="{{section.settings.hd_home_logo_maxwidth}}" alt="{{shop.name}}">
                {% else %}
                <img src="//via.placeholder.com/160x46" width="{{section.settings.hd_home_logo_maxwidth}}" alt="{{shop.name}}">
                {% endif %}
              </a>
              {% endif %}          
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex ">          
          <div class="header-search-form">
            {% if settings.enable_headerv8_search %}
              <form class="wg-search-form" action="/search">
                <div class="search-box">
                  <button id="searchsubmit2" type="submit" class="set-20-svg">   
                    {% if settings.pia_quickview_svg != blank %}
                    {{settings.pia_quickview_svg}}
                    {% else %}
                    <i class="{{settings.pia_quickview}}"></i>
                    {% endif %}
                  </button>   

                  <input type="text" name="q" placeholder="{{settings.headerv8_search_input_placeholder}}" class="search-input js_engo_autocomplate">
                  <div class="result_prod js_productSearchResults">
                    <div class="js_search_results row">

                    </div>
                  </div>   
                </div>
                <input type="hidden" name="type" value="product">
                {% if settings.enable_all_cate_v8 %}
                <div class="select_category pwb-dropdown dropdown">
                  <span class="pwb-dropdown-toggle dropdown-toggle" data-toggle="dropdown">{{settings.headerv8_search_title}}</span>
                  <span class="caret"></span>

                  <ul class="pwb-dropdown-menu dropdown-menu category-search">
                    {% for link in linklists[settings.headerv8_search_menu].links %}
                    <li data-value="{{link.title}}" ><a href="{{link.url}}">{{link.title}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
				{% endif %}
              </form>
            {% endif %}
            
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 header-right currencies-login">               
          <div class="cart-login-search align-items-center"> 
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="search js-search-destop">
                  {% if section.settings.hd_icon_search_svg != blank %}
                  {{section.settings.hd_icon_search_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_search}}"></i>
                  {% endif %}
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{% if customer %}/account {% else %}javascript:void(0){% endif %}" class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">
                  {% if section.settings.hd_icon_login_svg != blank %}
                  {{section.settings.hd_icon_login_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_login}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{{section.settings.url_wishlist}}" class="">
                  {% if section.settings.hd_icon_wishlist_svg != blank %}
                  {{section.settings.hd_icon_wishlist_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_wishlist}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="cart js-call-minicart">
                  {% if section.settings.hd_icon_cart_svg != blank %}
                  {{section.settings.hd_icon_cart_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_cart}}"></i>
                  {% endif %}
                  <span class="js-number-cart number-cart">{{cart.item_count}}</span>
                </a>
              </li>
            </ul>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="header-wrapper">
    <div class="container container-v4">
      <div class="header-contents">
        <div class="box-menu">
          <div class="header-vertical-menu">
            <div class="categories-vertical-menu hidden-sm hidden-xs accordion {% if template contains 'index' %}always-open{% endif %} js-wrap-all-departments">
              <h3 class="widget-title js-click-all-departments"><i class="fa fa-bars" aria-hidden="true"></i>All Departments</h3>
              <div class="verticalmenu">
                <div class="menu-vertical-menu-container">
                  {% include 'menu-vertical' %}
                </div>
              </div>
            </div>
          </div>
          <div class="menu">
            {% include 'eveland-menu' %}
          </div>
        </div>
        
        {% if settings.enable_headerv8_phone %}
        <div class="right-menu hidden-xs hidden-sm">
          <div class="phone hidden-md hidden-sm hidden-xs ">
            <div class="box-icon">
              {% if settings.headerv8_phone_svg != blank %}
              {{settings.headerv8_phone_svg}}
              {% else %}
              <i class="{{settings.headerv8_phone_icon}}"></i>
              {% endif %}   
            </div>
            <a href="tel:{{settings.headerv8_phone_des}}">{{settings.headerv8_phone_des}}</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<script>
  jQuery(document).ready(function($) {
    
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }
    var r = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").r);
    var g = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").g);
    var b = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").b)
    {% if section.settings.hd_home_enable_transparents %}
    {% else %}                  
    $('.header-v8-h8 .topbar').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_bg_header_opacity}})'});
    $('.header-v8-h8 .header-desktop').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_bg_header_opacity}})'});
    {% endif %}
    
    {% if section.settings.enable_sticky_hd_home  %}
    function menudestopscroll1() {
      var $nav = $(".jsheader_sticky");
      $nav.removeClass('menu_scroll_v8');
    
      $(document).scroll(function() {

        $nav.toggleClass('menu_scroll_v8', $(this).scrollTop() > $nav.height());
        var r = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").r);
        var g = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").g);
        var b = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").b)
        $('.header-v7-h8.menu_scroll_v8').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_bg_header_opacity}})'});
        {% if section.settings.hd_home_enable_transparents %}                    
        if($(this).scrollTop() < $nav.height()){
          $('.header-v8-h8').css({'background':'none'}); 
            $nav.removeClass('menu_scroll_v8')
        }
        {% endif %}                
      });
    } 
    menudestopscroll1();
    {% endif %}
    
    
  });
</script>

<style>
  #header .menu ul li .nav-link{
    color: {{section.settings.hd_home_color_title}};
  }
  #header.header-v8-h8 .phone a{
    color: {{section.settings.hd_home_color_title}};
  }
  #header .currencies-login .cart-login-search ul li a svg{
    fill : {{section.settings.hd_home_color_text}};
  }
  #header .currencies-login .phone label{
    color : {{section.settings.hd_home_color_text}};
  }
  #header .currencies-login .phone a{
    color : {{section.settings.hd_home_color_text}};
  }
  #header .currencies-login .cart-login-search ul li a i{
    color : {{section.settings.hd_home_color_text}};
  }
    #header .currencies-login .cart-login-search ul li a svg{
    fill : {{section.settings.hd_home_color_text}};
  }
  #bwp-topbar.topbar a{
    color : {{section.settings.hd_home_color_text}};
  }
  #bwp-topbar .topbar-right .email i{
    color : {{section.settings.hd_home_color_text}};
  }
  .engoc_currencies .currency-picker{
    color : {{section.settings.hd_home_color_text}};
  }
  .engoc_currencies:after{
    color : {{section.settings.hd_home_color_text}};
  }
  .box-change-langue .top-lanngue a:after{
    color : {{section.settings.hd_home_color_text}};
  }
  .header-v1-h1.menu_scroll_v1{
   background-color : rgba( {{section.settings.hd_home_bg_header_normal}} ,{{section.settings.hd_bg_header_opacity}});
  }
</style>

{% endif %}

{% endif %}

{% if section.settings.select_hds_all == "header_ver8" %}
{% unless template contains 'index' %}
<header id="header" class="homepage header-v8-h8 js_height_hd jsheader_sticky d-none d-lg-block {% if section.settings.hd_other_enable_transparents %}header-absolute {% endif %}">
  {% if settings.enable_topbar %}
  <div id="bwp-topbar" class="topbar hidden-sm hidden-xs">
    <div class="container container-v4">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 topbar-left hidden-sm hidden-xs">
          <ul id="topbar_menu" class="menu">
            {% for link in linklists[settings.main_menu_topbar].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 topbar-right">
          <div class="email hidden-xs">
            {% if settings.icon_mail_topbar != blank %}
            <i class="{{settings.icon_mail_topbar}}"></i>
            {% endif %}
            <a href="mailto:{{settings.topbar_mail}}">{{settings.topbar_mail}}</a>
          </div>
          <div class="block-top-link">
            {% if settings.enable_currency %}
            <div class="currencies">
              {% include 'currency-picker' %}
            </div>
            {% endif %}
            {% if settings.enable_language %}
            <div class="change_language">
              {% include 'change-language' %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="header-desktop">
    <div class="container container-v4">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 header-left">
          <div class="logo">
            <div class="center logo delay05">           
              {% if section.settings.hd_other_logo_svg !=blank %}
              <div class="logosvg" style="max-width:{{section.settings.hd_other_logo_maxwidth}}px;">
                <a class="logourl" href="{{shop.url}}">{{section.settings.hd_other_logo_svg}}</a>
              </div>
              {% else %}            
              <a href="{{shop.url}}">
                {% if section.settings.hd_other_logo != blank %}
                <img src="{{section.settings.hd_other_logo|img_url:'master'}}" width="{{section.settings.hd_other_logo_maxwidth}}" alt="{{shop.name}}">
                {% else %}
                <img src="//via.placeholder.com/160x46" width="{{section.settings.hd_other_logo_maxwidth}}" alt="{{shop.name}}">
                {% endif %}
              </a>
              {% endif %}          
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 d-flex ">
          <div class="header-search-form">
            {% if settings.enable_headerv8_search %}
            <form class="wg-search-form" action="/search">
              <div class="search-box">
                <button id="searchsubmit2" type="submit" class="set-20-svg">   
                  {% if settings.pia_quickview_svg != blank %}
                  {{settings.pia_quickview_svg}}
                  {% else %}
                  <i class="{{settings.pia_quickview}}"></i>
                  {% endif %}
                </button>   

                <input type="text" name="q" placeholder="{{settings.headerv8_search_input_placeholder}}" class="search-input js_engo_autocomplate">
                <div class="result_prod js_productSearchResults">
                  <div class="js_search_results row">

                  </div>
                </div>   
              </div>
              <input type="hidden" name="type" value="product">
              {% if settings.enable_all_cate_v8 %}
              <div class="select_category pwb-dropdown dropdown">
                <span class="pwb-dropdown-toggle dropdown-toggle" data-toggle="dropdown">{{settings.headerv8_search_title}}</span>
                <span class="caret"></span>

                <ul class="pwb-dropdown-menu dropdown-menu category-search">
                  {% for link in linklists[settings.headerv8_search_menu].links %}
                  <li data-value="{{link.title}}" ><a href="{{link.url}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </form>
            {% endif %}

          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 header-right currencies-login">           
          <div class="cart-login-search align-items-center"> 
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="search js-search-destop">
                  {% if section.settings.hd_icon_search_svg != blank %}
                  {{section.settings.hd_icon_search_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_search}}"></i>
                  {% endif %}
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{% if customer %}/account {% else %}javascript:void(0){% endif %}" class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">
                  {% if section.settings.hd_icon_login_svg != blank %}
                  {{section.settings.hd_icon_login_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_login}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{{section.settings.url_wishlist}}" class="">
                  {% if section.settings.hd_icon_wishlist_svg != blank %}
                  {{section.settings.hd_icon_wishlist_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_wishlist}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="cart js-call-minicart">
                  {% if section.settings.hd_icon_cart_svg != blank %}
                  {{section.settings.hd_icon_cart_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_cart}}"></i>
                  {% endif %}
                  <span class="js-number-cart number-cart">{{cart.item_count}}</span>
                </a>
              </li>
            </ul>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="header-wrapper">
    <div class="container container-v4">
      <div class="header-contents">
        <div class="box-menu">
          <div class="header-vertical-menu">
            <div class="categories-vertical-menu hidden-sm hidden-xs accordion {% if template contains 'index' %}always-open{% endif %} js-wrap-all-departments">
              <h3 class="widget-title js-click-all-departments"><i class="fa fa-bars" aria-hidden="true"></i>All Departments</h3>
              <div class="verticalmenu">
                <div class="menu-vertical-menu-container">
                  {% include 'menu-vertical' %}
                </div>
              </div>
            </div>
          </div>
          <div class="menu">
            {% include 'eveland-menu' %}
          </div>
        </div>
        
        {% if settings.enable_headerv8_phone %}
        <div class="right-menu hidden-xs hidden-sm">
          <div class="phone hidden-md hidden-sm hidden-xs ">
            <div class="box-icon">
              {% if settings.headerv8_phone_svg != blank %}
              {{settings.headerv8_phone_svg}}
              {% else %}
              <i class="{{settings.headerv8_phone_icon}}"></i>
              {% endif %}   
            </div>
            <a href="tel:{{settings.headerv8_phone_des}}">{{settings.headerv8_phone_des}}</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>


<script>
  jQuery(document).ready(function($) {
    
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }
    var r = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").r);
    var g = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").g);
    var b = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").b)
    {% if section.settings.hd_other_enable_transparents %}
    {% else %}                  
    $('.header-v8-h8 .topbar').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_other_bg_header_opacity}})'});
    $('.header-v8-h8 .header-desktop').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_other_bg_header_opacity}})'});
    {% endif %}
    
    {% if section.settings.enable_sticky_hd_other  %}
    function menudestopscroll1() {
      var $nav = $(".jsheader_sticky");
      $nav.removeClass('menu_scroll_v8');

      $(document).scroll(function() {

        $nav.toggleClass('menu_scroll_v8', $(this).scrollTop() > $nav.height());
        var r = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").r);
        var g = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").g);
        var b = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").b)
        $('.header-v8-h8.menu_scroll_v8').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_other_bg_header_opacity}})'});
        {% if section.settings.hd_other_enable_transparents %}                    
        if($(this).scrollTop() < $nav.height()){
          $('.header-v8-h8').css({'background':'none'}); 
            $nav.removeClass('menu_scroll_v8')
        }
        {% endif %}                 
      });
    } 
    menudestopscroll1();
    {% endif %}
    
    
  });
</script>



<style>
  #header .menu ul li .nav-link{
    color: {{section.settings.hd_other_color_title}};
  }
  #header.header-v8-h8 .phone a{
    color: {{section.settings.hd_other_color_title}};
  }
  #header .currencies-login .cart-login-search ul li a svg{
    fill : {{section.settings.hd_other_color_text}};
  }
  #header .currencies-login .phone label{
    color : {{section.settings.hd_other_color_text}};
  }
  #header .currencies-login .phone a{
    color : {{section.settings.hd_other_color_text}};
  }
  #header .currencies-login .cart-login-search ul li a i{
    color : {{section.settings.hd_other_color_text}};
  }
  #header .currencies-login .cart-login-search ul li a svg{
    fill : {{section.settings.hd_other_color_text}};
  }
  #bwp-topbar.topbar a{
    color : {{section.settings.hd_other_color_text}};
  }
  #bwp-topbar .topbar-right .email i{
    color : {{section.settings.hd_other_color_text}};
  }
  .engoc_currencies .currency-picker{
    color : {{section.settings.hd_other_color_text}};
  }
  .engoc_currencies:after{
    color : {{section.settings.hd_other_color_text}};
  }
  .box-change-langue .top-lanngue a:after{
    color : {{section.settings.hd_other_color_text}};
  }
  .header-v1-h1.menu_scroll_v1{
    background-color : rgba( {{section.settings.hd_other_bg_header_normal}} ,{{section.settings.hd_other_bg_header_opacity}});
  }
</style>

{% endunless %}
{% endif %}