{% if section.settings.select_hds == "header_v4" %}
{% if template contains 'index' %}
<header id="header" class="header-v4-h4 js_height_hd jsheader_sticky d-none d-lg-block {% if section.settings.hd_home_enable_transparents %}header-absolute {% endif %}">
  {% if settings.enable_topbar %}
  <div id="bwp-topbar" class="topbar hidden-sm hidden-xs">
    <div class="container container-v1">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 topbar-left hidden-sm hidden-xs">
          <ul id="topbar_menu" class="menu">
            {% for link in linklists[settings.main_menu_topbar].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 topbar-right">
          <div class="email hidden-xs">
            {% if settings.icon_mail_topbar != blank %}
            <i class="{{settings.icon_mail_topbar}}"></i>
            {% endif %}
            <a href="mailto:{{settings.topbar_mail}}">{{settings.topbar_mail}}</a>
          </div>
          <div class="block-top-link">
            {% if settings.enable_currency %}
            <div class="currencies">
              {% include 'currency-picker' %}
            </div>
            {% endif %}
            {% if settings.enable_language %}
            <div class="change_language">
              {% include 'change-language' %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="header-desktop">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-7 col-md-5 col-sm-4 col-4 header-left">
          <div class="header-search-form hidden-md hidden-sm hidden-xs">
            {% if settings.enable_headerv4_search %}
            <form class="wg-search-form" action="/search">
              <div class="search-box">
                <button id="searchsubmit2" type="submit" class="set-20-svg">   
                  {% if settings.pia_quickview_svg != blank %}
                  {{settings.pia_quickview_svg}}
                  {% else %}
                  <i class="{{settings.pia_quickview}}"></i>
                  {% endif %}
                </button>   

                <input type="text" name="q" placeholder="{{settings.headerv4_search_input_placeholder}}" class="search-input js_engo_autocomplate">
                <div class="result_prod js_productSearchResults">
                  <div class="js_search_results row">

                  </div>
                </div>   
              </div>
              <input type="hidden" name="type" value="product">
              {% if settings.enable_all_cate_v4 %}
              <div class="select_category pwb-dropdown dropdown">
                <span class="pwb-dropdown-toggle dropdown-toggle" data-toggle="dropdown">{{settings.headerv4_search_title}}</span>
                <span class="caret"></span>

                <ul class="pwb-dropdown-menu dropdown-menu category-search">
                  {% for link in linklists[settings.headerv4_search_menu].links %}
                  <li data-value="{{link.title}}" ><a href="{{link.url}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </form>
            {% endif %}
          </div>
          
        </div>
        
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 header-logo text-center">
          <div class="logo">
            <div class="center logo delay05">           
              {% if section.settings.hd_home_logo_svg !=blank %}
              <div class="logosvg m-auto" style="max-width:{{section.settings.hd_home_logo_maxwidth}}px;">
                <a class="logourl" href="{{shop.url}}">{{section.settings.hd_home_logo_svg}}</a>
              </div>
              {% else %}            
              <a href="{{shop.url}}">
                {% if section.settings.hd_home_logo != blank %}
                <img src="{{section.settings.hd_home_logo|img_url:'master'}}" width="{{section.settings.hd_home_logo_maxwidth}}" alt="{{shop.name}}">
                {% else %}
                <img src="//via.placeholder.com/160x46" width="{{section.settings.hd_home_logo_maxwidth}}" alt="{{shop.name}}">
                {% endif %}
              </a>
              {% endif %}          
            </div>
          </div>
        </div>      
        <div class="col-xl-5 col-lg-3 col-md-5 col-sm-8 col-8 currencies-login header-right">        
          <div class="cart-login-search align-items-center"> 
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="search js-search-destop">
                  {% if section.settings.hd_icon_search_svg != blank %}
                  {{section.settings.hd_icon_search_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_search}}"></i>
                  {% endif %}
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{% if customer %}/account {% else %}javascript:void(0){% endif %}" class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">
                  {% if section.settings.hd_icon_login_svg != blank %}
                  {{section.settings.hd_icon_login_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_login}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{{section.section.settings.url_wishlist}}" class="">
                  {% if section.settings.hd_icon_wishlist_svg != blank %}
                  {{section.settings.hd_icon_wishlist_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_wishlist}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="cart js-call-minicart">
                  {% if section.settings.hd_icon_cart_svg != blank %}
                  {{section.settings.hd_icon_cart_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_cart}}"></i>
                  {% endif %}
                  <span class="js-number-cart number-cart">{{cart.item_count}}</span>
                </a>
              </li>
            </ul>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="header-wrapper">
    <div class="container container-v1">
      <div class="header-contents">
        <div class="row">
          <div class="col-xl-3 col-lg-4 hidden-xs hidden-sm">
            {% if settings.enable_headerv4_address %}
            <div class="address hidden-xs ">
              <div class="box-icon">
                {% if settings.headerv4_address_svg != blank %}
                {{settings.headerv4_address_svg}}
                {% else %}
                <i class="{{settings.headerv4_address_icon}}"></i>
                {% endif %}  
              </div>
              {{settings.headerv4_address_des}}
            </div>
            {% endif %}
          </div>
          <div class="col-xl-6 col-lg-6 col-12 d-flex justify-content-start">
            <div class="menu">
              {% include 'eveland-menu' %}
            </div>
          </div>
          <div class="col-xl-3 col-lg-2 hidden-xs hidden-sm">
            {% if settings.enable_headerv4_phone %}
            <div class="phone hidden-xs ">
              <div class="box-icon">
                {% if settings.headerv4_phone_svg != blank %}
                {{settings.headerv4_phone_svg}}
                {% else %}
                <i class="{{settings.headerv4_phone_icon}}"></i>
                {% endif %}            
              </div>
              <a href="tel:{{settings.headerv4_phone_des}}">{{settings.headerv4_phone_des}}</a>
              
            </div>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
</header>
<script>
  jQuery(document).ready(function($) {
    
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }
    var r = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").r);
    var g = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").g);
    var b = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").b)
    {% if section.settings.hd_home_enable_transparents %}
    {% else %}                  
    $('.header-v4-h4').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_bg_header_opacity}})'});
    {% endif %}
    
    {% if section.settings.enable_sticky_hd_home  %}
    function menudestopscroll4() {
      var $nav = $(".jsheader_sticky");
      $nav.removeClass('menu_scroll_v4');

      $(document).scroll(function() {

        $nav.toggleClass('menu_scroll_v4', $(this).scrollTop() > $nav.height());
        var r = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").r);
        var g = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").g);
        var b = (hexToRgb("{{section.settings.hd_home_bg_header_normal}}").b)
        $('.header-v4-h4.menu_scroll_v4').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_bg_header_opacity}})'});
        {% if section.settings.hd_home_enable_transparents %}                    
        if($(this).scrollTop() < $nav.height()){
          $('.header-v4-h4').css({'background':'none'}); 
            $nav.removeClass('menu_scroll_v4')
        }
        {% endif %}                 
      });
    } 
    menudestopscroll4();
    {% endif %}
    
    
  });
</script>
<style>
  #header .menu ul li .nav-link{
    color: {{section.settings.hd_home_color_title}};
  }
  #bwp-topbar.topbar a{
    color: {{section.settings.hd_home_color_text}};
  }
  #bwp-topbar .engoc_currencies .currency-picker{
    color: {{section.settings.hd_home_color_text}};
  }
  #bwp-topbar .engoc_currencies:after{
    color: {{section.settings.hd_home_color_text}};
  }
  .box-change-langue .top-lanngue a:after{
    color: {{section.settings.hd_home_color_text}};
  }
  #bwp-topbar .topbar-right .email i{
    color: {{section.settings.hd_home_color_text}};
  }
  #header.header-v4-h4 .header-wrapper{background: {{settings.headerv4_bg_bottom}};}
  #header .currencies-login .cart-login-search ul li a svg{
    fill : {{section.settings.hd_home_color_text}};
  }  
  #header .currencies-login .cart-login-search ul li a i{
    color: {{section.settings.hd_home_color_text}};
  }
  #header .currencies-login .cart-login-search ul li a svg{
    fill: {{section.settings.hd_home_color_text}};
  }
  
</style>
{% endif %}
{% endif %}

{% if section.settings.select_hds_all == "header_ver4" %}
{% unless template contains 'index' %}
<header id="header" class="header-v4-h4 js_height_hd jsheader_sticky d-none d-lg-block {% if section.settings.hd_other_enable_transparents %}header-absolute {% endif %}">
  {% if settings.enable_topbar %}
  <div id="bwp-topbar" class="topbar hidden-sm hidden-xs">
    <div class="container container-v1">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 topbar-left hidden-sm hidden-xs">
          <ul id="topbar_menu" class="menu">
            {% for link in linklists[settings.main_menu_topbar].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 topbar-right">
          <div class="email hidden-xs">
            {% if settings.icon_mail_topbar != blank %}
            <i class="{{settings.icon_mail_topbar}}"></i>
            {% endif %}
            <a href="mailto:{{settings.topbar_mail}}">{{settings.topbar_mail}}</a>
          </div>
          <div class="block-top-link">
            {% if settings.enable_currency %}
            <div class="currencies">
              {% include 'currency-picker' %}
            </div>
            {% endif %}
            {% if settings.enable_language %}
            <div class="change_language">
              {% include 'change-language' %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
  <div class="header-desktop">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-7 col-md-5 col-sm-4 col-4 header-left">
          <div class="header-search-form hidden-md hidden-sm hidden-xs">
            {% if settings.enable_headerv4_search %}
            <form class="wg-search-form" action="/search">
              <div class="search-box">
                <button id="searchsubmit2" type="submit" class="set-20-svg">   
                  {% if settings.pia_quickview_svg != blank %}
                  {{settings.pia_quickview_svg}}
                  {% else %}
                  <i class="{{settings.pia_quickview}}"></i>
                  {% endif %}
                </button>   

                <input type="text" name="q" placeholder="{{settings.headerv4_search_input_placeholder}}" class="search-input js_engo_autocomplate">
                <div class="result_prod js_productSearchResults">
                  <div class="js_search_results row">

                  </div>
                </div>   
              </div>
              <input type="hidden" name="type" value="product">
              {% if settings.enable_all_cate_v4 %}
              <div class="select_category pwb-dropdown dropdown">
                <span class="pwb-dropdown-toggle dropdown-toggle" data-toggle="dropdown">{{settings.headerv4_search_title}}</span>
                <span class="caret"></span>

                <ul class="pwb-dropdown-menu dropdown-menu category-search">
                  {% for link in linklists[settings.headerv4_search_menu].links %}
                  <li data-value="{{link.title}}" ><a href="{{link.url}}">{{link.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </form>
            {% endif %}
          </div>
        </div>
        
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 header-logo text-center">
          <div class="logo">
            <div class="center logo delay05">           
              {% if section.settings.hd_other_logo_svg !=blank %}
              <div class="logosvg m-auto" style="max-width:{{section.settings.hd_other_logo_maxwidth}}px;">
                <a class="logourl" href="{{shop.url}}">{{section.settings.hd_other_logo_svg}}</a>
              </div>
              {% else %}            
              <a href="{{shop.url}}">
                {% if section.settings.hd_other_logo != blank %}
                <img src="{{section.settings.hd_other_logo|img_url:'master'}}" width="{{section.settings.hd_other_logo_maxwidth}}" alt="{{shop.name}}">
                {% else %}
                <img src="//via.placeholder.com/160x46" width="{{section.settings.hd_other_logo_maxwidth}}" alt="{{shop.name}}">
                {% endif %}
              </a>
              {% endif %}          
            </div>
          </div>
        </div>      
        <div class="col-xl-5 col-lg-3 col-md-5 col-sm-8 col-8 currencies-login header-right">        
          <div class="cart-login-search align-items-center"> 
            <ul class="list-inline list-unstyled mb-0">
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="search js-search-destop">
                  {% if section.settings.hd_icon_search_svg != blank %}
                  {{section.settings.hd_icon_search_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_search}}"></i>
                  {% endif %}
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{% if customer %}/account {% else %}javascript:void(0){% endif %}" class="login {% if customer %}{% else %}js-call-popup-login{% endif %}">
                  {% if section.settings.hd_icon_login_svg != blank %}
                  {{section.settings.hd_icon_login_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_login}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="{{section.section.settings.url_wishlist}}" class="">
                  {% if section.settings.hd_icon_wishlist_svg != blank %}
                  {{section.settings.hd_icon_wishlist_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_wishlist}}"></i>
                  {% endif %}

                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a href="javascript:void(0)" class="cart js-call-minicart">
                  {% if section.settings.hd_icon_cart_svg != blank %}
                  {{section.settings.hd_icon_cart_svg}}
                  {% else %}
                  <i class="{{section.settings.hd_icon_cart}}"></i>
                  {% endif %}
                  <span class="js-number-cart number-cart">{{cart.item_count}}</span>
                </a>
              </li>
            </ul>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-wrapper">
    <div class="container container-v1">
      <div class="header-contents">
        <div class="row">
          <div class="col-xl-3 col-lg-4 hidden-xs hidden-sm">
            {% if settings.enable_headerv4_address %}
            <div class="address hidden-xs ">
              <div class="box-icon">
                {% if settings.headerv4_address_svg != blank %}
                {{settings.headerv4_address_svg}}
                {% else %}
                <i class="{{settings.headerv4_address_icon}}"></i>
                {% endif %}  
              </div>
              {{settings.headerv4_address_des}}
            </div>
            {% endif %}
          </div>
          <div class="col-xl-6 col-lg-6 col-12">
            <div class="menu">
              {% include 'eveland-menu' %}
            </div>
          </div>
          <div class="col-xl-3 col-lg-2 hidden-xs hidden-sm">
            {% if settings.enable_headerv4_phone %}
            <div class="phone hidden-xs ">
              <div class="box-icon">
                {% if settings.headerv4_phone_svg != blank %}
                {{settings.headerv4_phone_svg}}
                {% else %}
                <i class="{{settings.headerv4_phone_icon}}"></i>
                {% endif %}            
              </div>
              <a href="tel:{{settings.headerv4_phone_des}}">{{settings.headerv4_phone_des}}</a>

            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
  
</header>
<script>
  jQuery(document).ready(function($) {
    
    function hexToRgb(hex) {
      var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    }
    var r = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").r);
    var g = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").g);
    var b = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").b)
    {% if section.settings.hd_other_enable_transparents %}
    {% else %}                  
    $('.header-v4-h4').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_other_bg_header_opacity}})'});
    {% endif %}
    
    {% if section.settings.enable_sticky_hd_other  %}
    function menudestopscroll4() {
      var $nav = $(".jsheader_sticky");
      $nav.removeClass('menu_scroll_v4');

      $(document).scroll(function() {

        $nav.toggleClass('menu_scroll_v4', $(this).scrollTop() > $nav.height());
        var r = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").r);
        var g = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").g);
        var b = (hexToRgb("{{section.settings.hd_other_bg_header_normal}}").b)
        $('.header-v4-h4.menu_scroll_v4').css({'background':'rgba(' + r + ' ,' + g + ',' + b + ',{{section.settings.hd_other_bg_header_opacity}})'});
        {% if section.settings.hd_other_enable_transparents %}                    
        if($(this).scrollTop() < $nav.height()){
          $('.header-v4-h4').css({'background':'none'}); 
            $nav.removeClass('menu_scroll_v4')
        }
        {% endif %}                 
      });
    } 
    menudestopscroll4();
    {% endif %}
    
    
  });
</script>
<style>
  #header .menu ul li .nav-link{
    color: {{section.settings.hd_other_color_title}};
  }
  #bwp-topbar.topbar a{
    color: {{section.settings.hd_other_color_text}};
  }
  #bwp-topbar .engoc_currencies .currency-picker{
    color: {{section.settings.hd_other_color_text}};
  }
  #bwp-topbar .engoc_currencies:after{
    color: {{section.settings.hd_other_color_text}};
  }
  .box-change-langue .top-lanngue a:after{
    color: {{section.settings.hd_other_color_text}};
  }
  #header.header-v4-h4 .header-wrapper{background: {{settings.headerv4_bg_bottom}};}
  #header .currencies-login .cart-login-search ul li a svg{
    fill : {{section.settings.hd_other_color_text}};
  }  
  #header .currencies-login .cart-login-search ul li a i{
    color: {{section.settings.hd_other_color_text}};
  }
  #bwp-topbar .topbar-right .email i{
    color: {{section.settings.hd_other_color_text}};
  }
  #header .currencies-login .cart-login-search ul li a svg{
    fill: {{section.settings.hd_other_color_text}};
  }

</style>

{% endunless %}
{% endif %}