<ul id="menu-vertical-menu" class="menu">
  {% assign main_menu = section.settings.main_menu_vertical %}
  {% assign open_text = section.settings.open_text %}
  {% assign close_text = section.settings.close_text %}
  {% for link in linklists[main_menu].links %}
  
  {% assign item = link.title | split: '[' | first | downcase %}
  {% assign child_list_handle = link.title | handleize %}
  
  {% capture megamenu_1 %}v_meg1_parent{% endcapture %}
  {% capture megamenu_2 %}v_meg2_parent{% endcapture %}
  {% capture megamenu_3 %}v_meg3_parent{% endcapture %}
  {% capture megamenu_4 %}v_meg4_parent{% endcapture %}
  {% capture megamenu_5 %}v_meg5_parent{% endcapture %}
  
  
  
  {% capture timenu_1 %}icon_vertical1{% endcapture %}
  {% capture iconmenu_1 %}icon_vertical1{% endcapture %}
  {% capture iconmenu_2 %}icon_vertical2{% endcapture %}
  {% capture iconmenu_3 %}icon_vertical2{% endcapture %}
 	
  {% if settings[megamenu_1] == item or settings[megamenu_2] == item  or settings[megamenu_3] == item or settings[megamenu_4] == item or settings[megamenu_5] == item %}
  {% for i in (1..10) %}
  
  {% endfor %}
  
  {% for i in (1..5) %}
  	{% capture megamenu %}v_meg{{i}}_parent{% endcapture %}
    {% capture _mega_style_select %}v_meg{{i}}_select{% endcapture %}
  	
  	{% capture icon %}icon_vertical{{i}}{% endcapture %}
  
    {% capture _mega_bg_img %}v_meg{{i}}_bg{% endcapture %}
	
  	{% if settings[megamenu] == item %}
  
  	{% capture menu-item %}menu-item-{{i}}{% endcapture %}
  	{% capture _banner_img %}v_meg2_b_img{% endcapture %}
    {% capture _banner_title %}v_meg2_b_title{% endcapture %}
    {% capture _banner_des %}v_meg2_b_des{% endcapture %}
    {% capture _banner_btn_name %}v_meg2_b_btn_name{% endcapture %}
    {% capture _banner_url %}v_meg2_b_btn_url{% endcapture %}
  
  	{% capture _banner_img5 %}v_meg5_b_img{% endcapture %}
    {% capture _logo_img1 %}v_meg5_logo1{% endcapture %}
    {% capture _logo_url1 %}v_meg5_logo_url1{% endcapture %}
    {% capture _logo_img2 %}v_meg5_logo2{% endcapture %}
    {% capture _logo_url2 %}v_meg5_logo_url2{% endcapture %}
    {% capture _logo_img3 %}v_meg5_logo3{% endcapture %}
    {% capture _logo_url3 %}v_meg5_logo_url3{% endcapture %}
    {% capture _logo_img4 %}v_meg5_logo4{% endcapture %}
    {% capture _logo_url4 %}v_meg5_logo_url4{% endcapture %}
  	
  
    {%- capture collection_menu -%}v_meg4_cproduct_4{%- endcapture -%}
    {%- capture collection_menu_title -%}v_meg4_tproduct_4{%- endcapture -%}
    {%- capture collection_product_limit -%}v_meg4_nproduct_limit{%- endcapture -%}
  
    {% if settings[_mega_style_select] == "sty_1" %}
  	<li class="level-0 menu-item-has-children menu-item mega-menu">
      <a href="{{ link.url }}"><span class="menu-item-text">{{ link.title }}</span></a>
      <div class="sub-menu">
        <div class="elementor-section-wrap">
          <div class="elementor-section sub-menu-background1 background1" {% if settings[_mega_bg_img] != blank %}style="background-image: url({{settings[_mega_bg_img] | img_url:'master'}});"{% endif %}>
            <div class="elementor-container">
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="column-wrap">
                    {% for childlink in linklists[child_list_handle].links %}
                    {% assign grande_list_handle = childlink.title | handleize %}
                    <div class="column-item column-menu">
                      <div class="elementor-image">
                        <img src="{{ childlink.title | handle | append: '.png' | file_url }}" class="lazyloaded" alt="{{ childlink.title | escape }}">
                      </div>
                      <div class="elementor-menu">                        
                        <h2 class="elementor-heading-title">{{ childlink.title }}</h2>                        
                        <ul class="link-vertical">
                          {% for grandelink in linklists[grande_list_handle].links %}
                          	<li><a href="{{ grandelink.url }}">{{ grandelink.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</li>
  
  	{% elsif settings[_mega_style_select] == "sty_2" %}
  	<li class="level-0 menu-item-has-children vertical-menu5 menu-item mega-menu">
  		<a href="{{ link.url }}"><span class="menu-item-text">{{ link.title }}</span></a>
      	<div class="sub-menu">
          <div class="elementor-section-wrap">
            <div class="elementor-section sub-menu-background2 background2" {% if settings[_mega_bg_img] != blank %}style="background-image: url({{settings[_mega_bg_img] | img_url:'master'}});"{% endif %}>
              <div class="elementor-container">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    <div class="column-wrap">
                      <div class="bwp-widget-banner banner-menu">
                        <div class="banner-wrapper banners-menu">
                          <div class="bwp-image">
                            {% if settings[_banner_img] != blank %}
                            <a href="{{settings[_banner_url]}}"><img src="{{settings[_banner_img] | img_url:'master'}}" class="lazyloaded" alt="banner"></a>
                          	{% endif %}
                          </div>
                          <div class="banner-wrapper-infor">
                            <div class="info">
                              <div class="content">
                                {% if settings[_banner_des] != blank %}
                                <p class="bwp-image-subtitle">{{settings[_banner_des]}}</p>
                                {% endif %}
                                
                                {% if settings[_banner_title] != blank %}
                                <h3 class="title-banner">30%</h3> 
                                {% endif %}
                                
                                {% if settings[_banner_btn_name] != blank %}
                                <a class="button" href="{{settings[_banner_url]}}">{{settings[_banner_btn_name]}}</a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="column-wrap">
                      <div class="row no-gutters">
                        <div class="col-md-12">
                          <div class="column-wrap">
                            {% for childlink in linklists[child_list_handle].links %}
                            {% assign grande_list_handle = childlink.title | handleize %}
                            <div class="column-item column-menu">
                              <div class="elementor-menu">
                                <h2 class="elementor-heading-title">{{ childlink.title }}</h2>
                                <ul class="link-vertical">
                                  {% for grandelink in linklists[grande_list_handle].links %}
                                  <li><a href="{{ grandelink.url }}">{{ grandelink.title }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  	</li>
  
  	{% elsif settings[_mega_style_select] == "sty_3" %}
    <li class="level-0 menu-item-has-children vertical-menu4 menu-item mega-menu">
      <a href="{{ link.url }}"><span class="menu-item-text">{{ link.title }}</span></a>
      <div class="sub-menu">
        <div class="elementor-section-wrap">
          <div class="elementor-section sub-menu-background3 background3" {% if settings[_mega_bg_img] != blank %}style="background-image: url({{settings[_mega_bg_img] | img_url:'master'}});"{% endif %}>
            <div class="elementor-container">
              <div class="row no-gutters">
                <div class="col-md-12">
                  <div class="column-wrap">
                    {% for childlink in linklists[child_list_handle].links %}
                    {% assign grande_list_handle = childlink.title | handleize %}
                    <div class="column-item column-menu">
                      <div class="elementor-image">
                        <img src="{{ childlink.title | handle | append: '.png' | file_url }}" class="lazyloaded" alt="{{ childlink.title | escape }}">
                      </div>
                      <div class="elementor-menu">
                        <h2 class="elementor-heading-title">{{ childlink.title }}</h2>
                        <ul class="link-vertical">
                          {% for grandelink in linklists[grande_list_handle].links %}
                          <li><a href="{{ grandelink.url }}">{{ grandelink.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  	
  	{% elsif settings[_mega_style_select] == "sty_4" %}
    <li class="level-0 menu-item-has-children menu-item vertical-menu3 mega-menu">
      <a href="{{ link.url }}"><span class="menu-item-text">{{ link.title }}</span></a>
      <div class="sub-menu">
        <div class="elementor-section-wrap">
          <div class="elementor-section sub-menu-background4 background4" {% if settings[_mega_bg_img] != blank %}style="background-image: url({{settings[_mega_bg_img] | img_url:'master'}});"{% endif %}>
            <div class="elementor-container">
              <div class="row no-gutters">
                <div class="col-md-5">
                  <div class="column-wrap">
                    {% for childlink in linklists[child_list_handle].links %}
                    {% assign grande_list_handle = childlink.title | handleize %}
                    <div class="column-item column-menu w-100">
                      <div class="elementor-menu">
                        <h2 class="elementor-heading-title">{{ childlink.title }}</h2>
                        <ul class="link-vertical">
                          {% for grandelink in linklists[grande_list_handle].links %}
                          <li><a href="{{ grandelink.url }}">{{ grandelink.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="column-wrap">
                    <div class="bwp_product_list product-menu">
                      {%- assign collection_name = settings[collection_menu] -%}
                      {%- assign collection_products = collections[collection_name].products -%}
                      {%- assign on_sale = false -%}
                      {%- if settings[collection_menu_title] != blank -%}
                      <div class="product-list-top">
                        <div class="title-block"><h2>{{ settings[collection_menu_title] }}</h2></div>                        
                      </div>
                      {%- endif -%}
                      <div class="content products-list grid row">
                        {%- for product in collection_products limit:settings[collection_product_limit] -%}
                        <div class="item col-xl-12 col-lg-12 col-md-12 col-12">
                          <div class="item-product">
                            <div class="item-thumb"> 
                              <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'master' }}" alt="" class="lazyloaded" data-ll-status="loaded"></a>
                            </div>
                            <div class="content-bottom">
                              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                              <div class="item-title"> <a href="{{ product.url | within: collection }}">{{ product.title}}</a></div>
                              <p class="price-product">    
                                {% assign on_sale = false %}
                                {% if product.compare_at_price > product.price %}
                                {% assign on_sale = true %}
                                {% endif %}
                                
                                {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
                                <span class="price">{{ product.price | money }}</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        {%- endfor -%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>	
  
  	{% elsif settings[_mega_style_select] == "sty_5" %}
    <li class="level-0  menu-item-has-children vertical-menu7 menu-item mega-menu">
      <a href="{{ link.url }}"><span class="menu-item-text">{{ link.title }}</span></a>
      <div class="sub-menu">
        <div class="elementor-section-wrap">
          <div class="elementor-section sub-menu-background5 background5" {% if settings[_mega_bg_img] != blank %}style="background-image: url({{settings[_mega_bg_img] | img_url:'master'}});"{% endif %}>
            <div class="elementor-container">
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="column-wrap">
                    <div class="column-menu-wrap">
                      <div class="row no-gutters">
                        {% for childlink in linklists[child_list_handle].links %}
                        {% assign grande_list_handle = childlink.title | handleize %}
                        <div class="col-md-4">
                          <div class="column-wrap">
                            <div class="column-item column-menu w-100">
                              <div class="elementor-menu">
                                <h2 class="elementor-heading-title">{{ childlink.title }}</h2>
                                <ul class="link-vertical">
                                  {% for grandelink in linklists[grande_list_handle].links %}
                                  <li><a href="{{ grandelink.url }}">{{ grandelink.title }}</a></li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="brand-menu">
                      <div class="logo_wrap">
                        <div class="slick_brand_menu">
                          <div class="logo_item">
                            <div class="logo_box">
                              <div class="image-block">
                                {% if settings[_logo_img1] != blank %}
                                <a href="{{settings[_logo_url1]}}">
                                  <img src="{{settings[_logo_img1] | img_url:'master'}}" class="lazyloaded" alt="Logo">
                                </a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <div class="logo_item">
                            <div class="logo_box">
                              <div class="image-block">
                                {% if settings[_logo_img2] != blank %}
                                <a href="{{settings[_logo_url2]}}">
                                  <img src="{{settings[_logo_img2] | img_url:'master'}}" class="lazyloaded" alt="Logo">
                                </a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <div class="logo_item">
                            <div class="logo_box">
                              <div class="image-block">
                                {% if settings[_logo_img3] != blank %}
                                <a href="{{settings[_logo_url3]}}">
                                  <img src="{{settings[_logo_img3] | img_url:'master'}}" class="lazyloaded" alt="Logo">
                                </a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <div class="logo_item">
                            <div class="logo_box">
                              <div class="image-block">
                                {% if settings[_logo_img4] != blank %}
                                <a href="{{settings[_logo_url4]}}">
                                  <img src="{{settings[_logo_img4] | img_url:'master'}}" class="lazyloaded" alt="Logo">
                                </a>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="column-wrap">
                    <div class="elementor-image">
                      {% if settings[_banner_img5] != blank %}
                      <img src="{{settings[_banner_img5] | img_url:'master'}}" class="lazyloaded" alt="banner">
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

  	{% endif %}
  
  	{% endif %}
    {% endfor %}
  {% else %}
    <li class="level-0 {{menu-item}} menu-item std-menu">
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endif %}
  
  {% endfor %}
  <div class="more-wrap">
    <span class="more-view">{{open_text}}</span>
  </div>
</ul>

