{%- capture style -%}
  --slider-1-section-heading-font-size: {{ section.settings.heading_font_size }}px;
  --slider-1-section-heading-font-weight: {{ section.settings.heading_font_weight }};
  --slider-1-section-subheading-font-size: {{ section.settings.subheading_font_size }}px;
  --slider-1-section-subheading-font-weight: {{ section.settings.subheading_font_weight }};
  --slider-1-section-description-font-size: {{ section.settings.description_font_size }}px;
  --slider-1-section-description-font-weight: {{ section.settings.description_font_weight }};
{%- endcapture -%}

<section
  class="tp-slider-area p-relative z-index-1"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="tp-slider-active tp-slider-variation swiper-container">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div
          class="tp-slider-item tp-slider-height d-flex align-items-center swiper-slide green-dark-bg"
          style="background-color:{{ section.settings.slideshow_background_color }};height:{{ section.settings.slider_height }}"
        >
          <div class="tp-slider-shape">
            {%- if section.settings.slider_shape_1 != blank -%}
              <img
                src="{{ section.settings.slider_shape_1 | image_url: width: 400 }}"
                alt="The Soap Store"
                class="tp-slider-shape-1"
                height="auto"
                width="auto"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'custom_slider_placeholder_shape_image tp-slider-shape-1' }}
            {%- endif -%}

            {%- if section.settings.slider_shape_2 != blank -%}
              <img
                src="{{ section.settings.slider_shape_2 | image_url: width: 200 }}"
                alt="The Soap Store"
                class="tp-slider-shape-2"
                height="auto"
                width="auto"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'custom_slider_placeholder_shape_image tp-slider-shape-2' }}
            {%- endif -%}

            {%- if section.settings.slider_shape_3 != blank -%}
              <img
                src="{{ section.settings.slider_shape_3 | image_url: width: 200 }}"
                alt="The Soap Store"
                class="tp-slider-shape-3"
                height="auto"
                width="auto"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'custom_slider_placeholder_shape_image tp-slider-shape-3' }}
            {%- endif -%}

            {%- if section.settings.slider_shape_4 != blank -%}
              <img
                src="{{ section.settings.slider_shape_4 | image_url: width: 200 }}"
                alt="The Soap Store"
                class="tp-slider-shape-4"
                height="auto"
                width="auto"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'custom_slider_placeholder_shape_image tp-slider-shape-4' }}
            {%- endif -%}
          </div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-5 col-lg-6 col-md-6">
                <div class="tp-slider-content p-relative z-index-1">
                  <span>
                    {{- block.settings.subheading -}}
                  </span>
                  <h3
                    class="tp-slider-title"
                  >
                    {{ block.settings.title }}
                  </h3>
                  <p>
                    {{ block.settings.description }}
                  </p>
                  {%- if block.settings.button_text -%}
                    <div class="tp-slider-btn">
                      <a href="{{ block.settings.button_link }}" class="tp-btn tp-btn-2 tp-btn-white">
                        {{- block.settings.button_text }}
                        <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16 6.99976L1 6.99976" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M9.9502 0.975414L16.0002 6.99941L9.9502 13.0244" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
              <div class="col-xl-7 col-lg-6 col-md-6">
                <div class="tp-slider-thumb text-end">
                  {%- if block.settings.image != blank -%}
                    <img
                      src="{{ block.settings.image | image_url: width: 3840 }}"
                      alt="{{ block.settings.title }}"
                      class="tp-slider-image"
                      height="auto"
                      width="auto"
                    >
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'custom_slider_placeholder_image' }}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="tp-slider-arrow tp-swiper-arrow {% if section.settings.show_arrow_mobile == true %}d-block {% else %} d-none{% endif %} {% if section.settings.show_arrow_desktop == true %}d-lg-block {% else %} d-lg-none{% endif %}">
      <button type="button" class="tp-slider-button-prev">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 13L1 7L7 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button type="button" class="tp-slider-button-next">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 13L7 7L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div class="tp-slider-bullet {% if section.settings.show_bullet_mobile == true %}d-block {% else %} d-none{% endif %} {% if section.settings.show_bullet_desktop == true %}d-lg-block {% else %} d-lg-none{% endif %}">
      <div class="tp-slider-dot tp-swiper-dot"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "color",
      "id": "slideshow_background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Custom height"
    },
    {
      "type": "number",
      "id": "slider_height",
      "label": "Slider height"
    },
    {
      "type": "header",
      "content": "Settings for content"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "label": "Heading font-size",
      "default": "110",
      "options": [
        {
          "label": "40px",
          "value": "40"
        },
        {
          "label": "45px",
          "value": "45"
        },
        {
          "label": "50px",
          "value": "50"
        },
        {
          "label": "56px",
          "value": "56"
        },
        {
          "label": "60px",
          "value": "60"
        },
        {
          "label": "64px",
          "value": "64"
        },
        {
          "label": "70px",
          "value": "70"
        },
        {
          "label": "80px",
          "value": "80"
        },
        {
          "label": "90px",
          "value": "90"
        },
        {
          "label": "100px",
          "value": "100"
        },
        {
          "label": "110px",
          "value": "110"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "Heading font weight",
      "default": "400",
      "options": [
        {
          "label": "300",
          "value": "300"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "700",
          "value": "700"
        },
        {
          "label": "800",
          "value": "800"
        },
        {
          "label": "900",
          "value": "900"
        }
      ]
    },
    {
      "type": "select",
      "id": "subheading_font_size",
      "label": "Subheading font size",
      "default": "12",
      "options": [
        {
          "label": "12px",
          "value": "12"
        },
        {
          "label": "13px",
          "value": "13"
        },
        {
          "label": "14px",
          "value": "14"
        },
        {
          "label": "15px",
          "value": "15"
        },
        {
          "label": "16px",
          "value": "16"
        },
        {
          "label": "17px",
          "value": "17"
        },
        {
          "label": "18px",
          "value": "18"
        },
        {
          "label": "19px",
          "value": "19"
        },
        {
          "label": "20px",
          "value": "20"
        }
      ]
    },
    {
      "type": "select",
      "id": "subheading_font_weight",
      "label": "Subheading font weight",
      "default": "500",
      "options": [
        {
          "label": "300",
          "value": "300"
        },
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "700",
          "value": "700"
        },
        {
          "label": "900",
          "value": "900"
        }
      ]
    },
    {
      "type": "select",
      "id": "description_font_size",
      "label": "Description font size",
      "default": "16",
      "options": [
        {
          "label": "12px",
          "value": "12"
        },
        {
          "label": "13px",
          "value": "13"
        },
        {
          "label": "14px",
          "value": "14"
        },
        {
          "label": "15px",
          "value": "15"
        },
        {
          "label": "16px",
          "value": "16"
        },
        {
          "label": "17px",
          "value": "17"
        },
        {
          "label": "18px",
          "value": "18"
        },
        {
          "label": "19px",
          "value": "19"
        },
        {
          "label": "20px",
          "value": "20"
        },
        {
          "label": "28px",
          "value": "28"
        }
      ]
    },
    {
      "type": "select",
      "id": "description_font_weight",
      "label": "Description font weight",
      "default": "400",
      "options": [
        {
          "label": "400",
          "value": "400"
        },
        {
          "label": "500",
          "value": "500"
        },
        {
          "label": "600",
          "value": "600"
        },
        {
          "label": "700",
          "value": "700"
        }
      ]
    },
    {
      "type": "header",
      "content": "Settings for carousel"
    },
    {
      "type": "checkbox",
      "id": "show_arrow_desktop",
      "label": "Show arrows (desktop)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrow_mobile",
      "label": "Show arrows (mobile)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bullet_desktop",
      "label": "Show bullets (desktop)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bullet_mobile",
      "label": "Show bullets (mobile)",
      "default": false
    },
    {
      "type": "color",
      "id": "bullet_color",
      "label": "Bullet color",
      "default": "#111111"
    },
    {
      "type": "image_picker",
      "id": "slider_shape_1",
      "label": "Slider shape 1"
    },
    {
      "type": "image_picker",
      "id": "slider_shape_2",
      "label": "Slider shape 2"
    },
    {
      "type": "image_picker",
      "id": "slider_shape_3",
      "label": "Slider shape 3"
    },
    {
      "type": "image_picker",
      "id": "slider_shape_4",
      "label": "Slider shape 4"
    }
  ],
  "blocks": [
    {
      "type": "slider_item",
      "name": "Image slide",
      "settings": [
        {
          "type": "header",
          "content": "Image settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide image"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "textarea",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading",
          "info": "Allow custom HTML"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Heading",
          "info": "Allow custom HTML"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider",
      "category": "Image",
      "blocks": [
        {
          "type": "slider_item"
        },
        {
          "type": "slider_item"
        },
        {
          "type": "slider_item"
        }
      ]
    }
  ]
}
{% endschema %}
