{%- liquid
  assign enable = section.settings.enable
-%}
{%- if enable != blank -%}
  <nav class="tp-category-menu-content">
    {%- if section.blocks.size > 0 -%}
      <ul>
        {%- assign splits_main = 1 -%}
        {%- for block in section.blocks -%}
          {%- liquid
            assign block_st = block.settings
          -%}

          {%- capture menuLevel0 -%}
                  
                  {%- assign icon_image = block_st.icon_image -%}
                  {%- assign svg_icon = block_st.svg_icon -%}

                <a href="{{ block_st.url }}">
                  {%- if icon_image != blank -%}
                    {%- liquid
                        assign icon_width = block_st.icon_width_image
                        assign icon_height = icon_width | divided_by: icon_image.aspect_ratio | round
                    -%}
                    <img loading="lazy" class="menu-thumb-icon vertical_svg_icon" src="{{ icon_image | image_url: width: icon_width }}" alt="{{ block_st.title }}" width="{{ icon_width }}" height="{{ icon_height }}"/>
                {%- elsif svg_icon != blank -%}
                  <span class="vertical_svg_icon">
                    {{- svg_icon | svg_icon: 'icon-menu' -}}
                    </span>
                {%- endif -%}
                  <span class="menu-text">
                  {%- if block.type == 'single_link' -%}
                      {{ block_st.title }}
                  {%- else -%}
                   {{ block_st.title }}
                  {%- endif -%}
                  </span>
                </a>
              {%- endcapture -%}
          {%- case block.type -%}
            {%- when 'menu_item' -%}
              {%- if block_st.title != blank -%}
                <li class="has-dropdown" {{ block.shopify_attributes }}>
                  {{ menuLevel0 }}
                  <div class="mega-menu tp-submenu">
                    <div class="home-menu">
                      <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-3">
                        {%- assign splits_main = splits_main | plus: 1 -%}
                        {%- for block in section.blocks -%}
                          {%- liquid
                            assign block_st = block.settings
                          -%}
                          {%- if block.type == 'single_link' -%}
                            {% continue %}
                          {%- endif -%}
                          {%- if block.type == 'dropdown' -%}
                            {% continue %}
                          {%- endif -%}
                          {%- if block.type == 'menu_item' -%}
                            {% continue %}
                          {%- endif -%}
                          <div class="col">
                            <div class="home-menu-item ">
                              <a href="{{ block_st.url }}">
                                {%- if block_st.link_list_image != blank -%}
                                  <div class="home-menu-thumb p-relative fix">
                                    <img
                                      loading="lazy"
                                      src="{{ block_st.link_list_image | image_url }}"
                                      alt="{{ block_st.title }}"
                                      height="auto"
                                      width="auto"
                                    >
                                  </div>
                                {% endif -%}
                                <span class="menu-text"> </span>
                                <div class="home-menu-content">
                                  <h5 class="home-menu-title">
                                    {%- if block_st.title != blank %}
                                      {%- liquid
                                        assign link_heading = block_st.url | default: '#'
                                      -%}
                                      <a href="{{ link_heading }}" class="mega-menu-title">
                                        {{- block_st.title | split: '[label' | first -}}
                                      </a>
                                    {% else -%}
                                      {%- assign menu_title = linklists[block_st.menu].title -%}
                                      <a class="shop-mega-menu-title" role="link">
                                        {{ menu_title }}
                                      </a>
                                    {% endif -%}
                                  </h5>
                                </div>
                              </a>
                            </div>
                          </div>
                        {%- endfor -%}
                      </div>
                    </div>
                  </div>
                </li>
              {%- endif -%}
            {%- when 'dropdown' -%}
              {%- if block_st.title != blank -%}
                <li class="has-dropdown" {{ block.shopify_attributes }}>
                  {{ menuLevel0 }}
                  {%- if linklists[block_st.menu].links.size > 0 -%}
                    <ul class="tp-submenu">
                      {%- render 'menu-dropdown',
                        handle_menu: block_st.menu,
                        menu_title: menu_title,
                        block_title: block_st.title
                      -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- when 'single_link' -%}
              <li>
                {{ menuLevel0 }}
              </li>
          {%- endcase -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </nav>
{%- endif -%}
{% schema %}
{
  "name": "Vertical Menu 5",
  "tag": "section",
  "class": "tps_vertical_menu",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Show vertical menu",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by category"
    }
  ],
  "blocks": [
    {
      "type": "menu_item",
      "name": "Menu Item (Parent)",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Mega Menu"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "textarea",
          "id": "svg_icon",
          "label": "Icon SVG",
          "info": "Paste SVG code"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link List (child)",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Add Menu"
        },
        {
          "type": "image_picker",
          "id": "link_list_image",
          "label": "Link list image",
          "info": "Upload image: png, jpg"
        },
        {
          "type": "select",
          "id": "col",
          "default": "4",
          "options": [
            {
              "value": "1",
              "label": "1/12 (8.333333%)"
            },
            {
              "value": "2",
              "label": "2/12 (16.666667%)"
            },
            {
              "value": "3",
              "label": "3/12 (25%)"
            },
            {
              "value": "4",
              "label": "4/12 (33.333333%)"
            },
            {
              "value": "5",
              "label": "5/12 (41.66666667%)"
            },
            {
              "value": "6",
              "label": "6/12 (50%)"
            },
            {
              "value": "7",
              "label": "7/12 (58.333333%)"
            },
            {
              "value": "8",
              "label": "8/12 (66.666667%)"
            },
            {
              "value": "9",
              "label": "9/12 (75%)"
            },
            {
              "value": "10",
              "label": "10/12 (83.333333%)"
            },
            {
              "value": "11",
              "label": "11/12 (91.666667%)"
            },
            {
              "value": "12",
              "label": "12/12 (100%)"
            }
          ],
          "label": "Width col:"
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Dropdown Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Dropdown"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select Menu",
          "default": "main-menu"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "textarea",
          "id": "svg_icon",
          "label": "Icon SVG",
          "info": "Paste SVG code"
        },
        {
          "type": "range",
          "id": "icon_width_image",
          "label": "Icon image width",
          "min": 20,
          "max": 100,
          "step": 5,
          "unit": "px",
          "default": 50
        }
      ]
    },
    {
      "type": "single_link",
      "name": "Single Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Single"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "Open link in new window",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon image",
          "info": "Upload image: png, jpg or gif file"
        },
        {
          "type": "textarea",
          "id": "svg_icon",
          "label": "Icon SVG",
          "info": "Paste SVG code"
        },
        {
          "type": "range",
          "id": "icon_width_image",
          "label": "Icon image width",
          "min": 20,
          "max": 100,
          "step": 5,
          "unit": "px",
          "default": 50
        }
      ]
    }
  ]
}
{% endschema %}
