<div class="tp-sidebar-wrapper tp-sidebar-ml--24">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'author_info' -%}
        <div class="tp-sidebar-widget mb-35">
          <div class="tp-sidebar-search">
            <form action="{{ routes.search_url }}" method="get" role="search">
              <div class="tp-sidebar-search-input">
                <input type="text" name="q" value="" autocomplete="off" placeholder="Search...">
                <button type="submit">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M8.11111 15.2222C12.0385 15.2222 15.2222 12.0385 15.2222 8.11111C15.2222 4.18375 12.0385 1 8.11111 1C4.18375 1 1 4.18375 1 8.11111C1 12.0385 4.18375 15.2222 8.11111 15.2222Z"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path
                      d="M16.9995 17L13.1328 13.1333"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      {%- when 'author_info' -%}
        {% # about %}
        <div class="tp-sidebar-widget mb-35">
          <h3 class="tp-sidebar-widget-title">{{ block.settings.title | escape }}</h3>
          <div class="tp-sidebar-widget-content">
            <div class="tp-sidebar-about">
              <div class="tp-sidebar-about-thumb mb-25">
                <a href="{{ block.settings.author_link }}">
                  <img src="{{ block.settings.author_avatar | image_url }}">
                </a>
              </div>
              <div class="tp-sidebar-about-content">
                <h3 class="tp-sidebar-about-title">
                  <a href="{{ block.settings.author_link }}">{{ block.settings.title | escape }}</a>
                </h3>
                <span class="tp-sidebar-about-designation">{{ block.settings.author_designation | escape }}</span>
                <p>{{ block.settings.author_bio | escape }}</p>
                <div class="tp-sidebar-about-signature">
                  <img src="{{ block.settings.author_signature | image_url }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      {% # about end %}

      {%- when 'recent_post' -%}
        <div class="tp-sidebar-widget mb-35">
          <h3 class="tp-sidebar-widget-title">{{ block.settings.title | escape }}</h3>
          <div class="tp-sidebar-widget-content">
            <div class="tp-sidebar-blog-item-wrapper">
              {% for article in blogs[blog.handle].articles limit: block.settings.maximum %}
                <div class="tp-sidebar-blog-item d-flex align-items-center">
                  <div class="tp-sidebar-blog-thumb">
                    <a href="{{ article.url }}">
                      <img src="{% if article.image %}{{ article.image | image_url }}{% else %}{{ 'blog-no-image.jpg' | asset_url }} {% endif %}" alt="{{ article.title }}">
                    </a>
                  </div>
                  <div class="tp-sidebar-blog-content">
                    <div class="tp-sidebar-blog-meta">
                      <span>{{ article.published_at | date: '%d %b, %Y' }}</span>
                    </div>
                    <h3 class="tp-sidebar-blog-title">
                      <a href="{{ article.url }}">{{ article.title }}</a>
                    </h3>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

      {%- when 'categories' -%}
        {% # categories start %}
        <div class="tp-sidebar-widget widget_categories mb-35">
          <h3 class="tp-sidebar-widget-title">{{ block.settings.title | escape }}</h3>
          <div class="tp-sidebar-widget-content">
            {%- if linklists[block.settings.menu].links.size > 0 -%}
              <ul>
                {%- for link in linklists[block.settings.menu].links -%}
                  <li>
                    <a href="{{ link.url }}">{{ link.title | split: '[label' | first }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>
      {% # categories end %}
      {%- when 'tags' -%}
        {% # tag cloud start %}
        <div class="tp-sidebar-widget mb-35">
          <h3 class="tp-sidebar-widget-title">{{ block.settings.title | escape }}</h3>
          <div class="tp-sidebar-widget-content tagcloud">

            {% for tag in blog.all_tags limit: 8 %}
              <a role="link" aria-disabled="true" class="active">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>