{%- liquid
  assign sold_out = false
  assign th_st = settings
  assign option_name = 'Color'
  if th_st.option_name_color != blank
    assign option_name = th_st.option_name_color
  endif
  assign show_quick_view = th_st.show_quick_view
  assign show_add_to_cart = th_st.show_add_to_cart
  assign show_wishlist = th_st.show_wishlist
  assign show_compare = th_st.show_compare
  assign show_review = th_st.show_review
  assign show_action = true
  if show_add_to_cart != true and show_compare != true and show_wishlist != true and show_quick_view != true
    assign show_action = false
  endif
  assign compare_at_price = product.compare_at_price
  assign price = product.price
  assign sale = false
  if compare_at_price > price and compare_at_price != blank
    assign sale = true
  endif
  assign product_avail = false
  assign product_qty = 0
  assign pre_order = false
  if product.has_only_default_variant == false
    if product.options_with_values[0].name == option_name
      if product.options_with_values.size < 2
        for variant in product.variants limit: 1
          assign product_qty = product_qty | plus: variant.inventory_quantity
          assign product_avail = variant.available
          assign product_management = variant.inventory_management
          assign compare_at_price = variant.compare_at_price
          assign price = variant.price
        endfor
        if product_management != null
          if product_qty < 1
            if product_avail == true
              assign pre_order = true
              assign sold_out = false
            else
              assign pre_order = false
              assign sold_out = true
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        else
          assign pre_order = false
          assign sold_out = false
        endif
      else
        assign prod = product.variants | where: 'option1', product.options_with_values[0].values[0]
        assign product_management = 'shopify'
        for p in prod
          assign product_qty = product_qty | plus: p.inventory_quantity
          if p.available
            assign product_avail = true
          endif
          if p.inventory_management == null
            assign product_management = 'null'
          endif
        endfor
        assign compare_at_price = prod[0].compare_at_price
        assign price = prod[0].price
        if product_management != null
          if product_qty < 1
            if product_avail == true
              assign pre_order = true
              assign sold_out = false
            else
              assign pre_order = false
              assign sold_out = true
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        else
          assign pre_order = false
          assign sold_out = false
        endif
      endif
    else
      assign product_management = 'shopify'
      for variant in product.variants
        assign product_qty = product_qty | plus: variant.inventory_quantity
        if variant.available == true
          assign product_avail = true
        endif
        if variant.inventory_management == null
          assign product_management = 'null'
        endif
      endfor
      assign compare_at_price = product.variants[0].compare_at_price
      assign price = product.variants[0].price

      if product_management != 'null'
        if product_qty < 1
          if product_avail == true
            assign pre_order = true
            assign sold_out = false
          else
            assign pre_order = false
            assign sold_out = true
          endif
        else
          assign pre_order = false
          assign sold_out = false
        endif
      else
        assign pre_order = false
        assign sold_out = false
      endif
    endif
  else
    if product.available != true
      assign sold_out = true
    endif
    assign qty = 0
    for v in product.variants
      if v.inventory_quantity
        assign qty = qty | plus: v.inventory_quantity
      endif
    endfor
    if qty < 1 and product.available == true
      assign pre_order = true
      assign sold_out = false
    endif
    for v in product.variants
      if v.inventory_management == null
        assign pre_order = false
        assign sold_out = false
      endif
    endfor
  endif

  if sold_out == true
  endif
  assign p = compare_at_price | minus: price
  if p > 0
    assign p = p | times: 100.0 | divided_by: compare_at_price | round
  endif
  if product == blank
    assign pre_order = false
    assign sold_out = false
  endif
  assign img = product.media
-%}

<div class="tp-product-list-item d-md-flex tps__product-item" data-product-handle="{{ product.handle }}">
  <div class="tp-product-list-thumb p-relative fix">
    <a href="{{ product.url | within: collection }}">
      {%- if product.has_only_default_variant -%}
        {%- if img[0] != blank -%}
          {% comment %} single variant With Image  {% endcomment %}
          <img
            src="{{ img[0] | image_url }}"
            alt="{{ img[0].alt | escape }}"
            class="tp_image_product"
            width="auto"
            height="auto"
          >
        {%- else -%}
          {% comment %} if single variant and Without image {% endcomment %}
          {%- render 'placeholder-render', placeholder_class: 'product_placeholder_class', type: 'product' -%}
        {%- endif -%}
      {%- else -%}
        {%- assign hasColor = false -%}
        {%- for o in product.options_with_values -%}
          {%- if o == option_name -%}
            {%- assign hasColor = true -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if hasColor -%}
          {%- for variant in product.variants limit: 1 -%}
            {%- if variant.featured_image != blank -%}
              {% comment %}  single variant With Image {% endcomment %}
              <img
                src="{{ variant.featured_image | image_url }}"
                alt="{{ variant.featured_image.alt | escape }}"
                class="tp_image_product"
                width="auto"
                height="auto"
              >
            {%- else -%}
              {%- if img[0] != blank -%}
                {% comment %} single variant Without image {% endcomment %}
                <img src="{{ img[0] | image_url }}" alt="{{ img[0].alt | escape }}" class="tp_image_product">
              {%- else -%}
                {% comment %} single variant Without image {% endcomment %}
                {%- render 'placeholder-render', placeholder_class: 'product_placeholder_class', type: 'product' -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- else -%}
          {%- if img[0] != blank -%}
            {% comment %} Multiple Varients With Image {% endcomment %}
            <img src="{{ img[0] | image_url }}" alt="{{ img[0].alt | escape }}" class="tp_image_product">
          {%- else -%}
            {% comment %} Multiple Varients Without image {% endcomment %}
            {%- render 'placeholder-render', placeholder_class: 'product_placeholder_class', type: 'product' -%}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    </a>
    {%- if sale -%}
      <div class="tp-product-badge">
        <span class="product-salet"> {{ 'products.product.on_sale' | t }}</span>
      </div>
    {%- endif -%}

    {% comment %} sold out {% endcomment %}
    {%- if sold_out -%}
      <div class="tp-product-badge">
        <span class="product-hot">{{ 'products.product.sold_out' | t }}</span>
      </div>
    {%- endif -%}

    {% comment %} pre order {% endcomment %}
    {%- if pre_order -%}
      <div class="tp-product-badge">
        <span class="product-trending">{{ 'products.product.pre_order' | t }}</span>
      </div>
    {%- endif -%}

    {%- if product.metafields.tps.custom_product_badge %}
      <div class="tp-product-badge">
        <span class="product-hot">{{ product.metafields.tps.custom_product_badge }}</span>
      </div>
    {%- endif -%}

    {% comment %} Hot {% endcomment %}
    {%- if product.metafields.tps.hot_product %}
      <div class="tp-product-badge">
        <span class="product-hot">{{ 'products.product.hot' | t }}</span>
      </div>
    {%- endif -%}

    {% comment %} New {% endcomment %}
    {%- if product.metafields.tps.new_product %}
      <div class="tp-product-badge">
        <span class="product-new">{{ 'products.product.new' | t }}</span>
      </div>
    {%- endif -%}
    {%- if show_action -%}
      <div class="tp-product-action-2 tp-product-action-blackStyle">
        {%- if show_wishlist or show_compare or show_quick_view -%}
          <div class="tp-product-action-item-2 d-flex flex-column">
            {%- if show_quick_view -%}
              <button
                type="button"
                class="tp-product-action-btn-2 tp-product-quick-view-btn tps__product-quickview tps_tooltip"
                name="add"
                role="button"
                data-bs-toggle="modal"
                aria-label="button"
                data-bs-target="#producQuickViewModal"
              >
                <svg
                  width="18"
                  height="15"
                  viewBox="0 0 18 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.99948 5.06828C7.80247 5.06828 6.82956 6.04044 6.82956 7.23542C6.82956 8.42951 7.80247 9.40077 8.99948 9.40077C10.1965 9.40077 11.1703 8.42951 11.1703 7.23542C11.1703 6.04044 10.1965 5.06828 8.99948 5.06828ZM8.99942 10.7482C7.0581 10.7482 5.47949 9.17221 5.47949 7.23508C5.47949 5.29705 7.0581 3.72021 8.99942 3.72021C10.9407 3.72021 12.5202 5.29705 12.5202 7.23508C12.5202 9.17221 10.9407 10.7482 8.99942 10.7482Z"
                    fill="currentColor" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.41273 7.2346C3.08674 10.9265 5.90646 13.1215 8.99978 13.1224C12.0931 13.1215 14.9128 10.9265 16.5868 7.2346C14.9128 3.54363 12.0931 1.34863 8.99978 1.34773C5.90736 1.34863 3.08674 3.54363 1.41273 7.2346ZM9.00164 14.4703H8.99804H8.99714C5.27471 14.4676 1.93209 11.8629 0.0546754 7.50073C-0.0182251 7.33091 -0.0182251 7.13864 0.0546754 6.96883C1.93209 2.60759 5.27561 0.00288103 8.99714 0.000185582C8.99894 -0.000712902 8.99894 -0.000712902 8.99984 0.000185582C9.00164 -0.000712902 9.00164 -0.000712902 9.00254 0.000185582C12.725 0.00288103 16.0676 2.60759 17.945 6.96883C18.0188 7.13864 18.0188 7.33091 17.945 7.50073C16.0685 11.8629 12.725 14.4676 9.00254 14.4703H9.00164Z"
                    fill="currentColor" />
                </svg>
                <span class="tp-product-tooltip tp-product-tooltip-right">
                  {{- 'products.product.quickview' | t -}}
                </span>
              </button>
            {%- endif -%}
            {%- if show_wishlist -%}
              <button
                type="button"
                class="tp-product-action-btn-2 tp-product-details-action-sm-btn-wishlist tp-product-add-to-wishlist-btn tps__product-action-btn-js tps__product-wishlist-js tps__product-wishlist tp-product-action-btn-2 tp-product-add-to-wishlist-btn"
                name="add"
                role="button"
                aria-label="button"
                data-pro-add-wishlist="{{ 'products.product.wishlist' | t }}"
                data-pro-remove-wishlist="{{ 'products.product.browse_wishlist' | t }}"
                data-product-handle="{{ product.handle }}"
              >
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.60355 7.98635C2.83622 11.8048 7.7062 14.8923 9.0004 15.6565C10.299 14.8844 15.2042 11.7628 16.3973 7.98985C17.1806 5.55102 16.4535 2.46177 13.5644 1.53473C12.1647 1.08741 10.532 1.35966 9.40484 2.22804C9.16921 2.40837 8.84214 2.41187 8.60476 2.23329C7.41078 1.33952 5.85105 1.07778 4.42936 1.53473C1.54465 2.4609 0.820172 5.55014 1.60355 7.98635ZM9.00138 17.0711C8.89236 17.0711 8.78421 17.0448 8.68574 16.9914C8.41055 16.8417 1.92808 13.2841 0.348132 8.3872C0.347252 8.3872 0.347252 8.38633 0.347252 8.38633C-0.644504 5.30321 0.459792 1.42874 4.02502 0.284605C5.69904 -0.254635 7.52342 -0.0174044 8.99874 0.909632C10.4283 0.00973263 12.3275 -0.238878 13.9681 0.284605C17.5368 1.43049 18.6446 5.30408 17.6538 8.38633C16.1248 13.2272 9.59485 16.8382 9.3179 16.9896C9.21943 17.0439 9.1104 17.0711 9.00138 17.0711Z"
                    fill="currentColor" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.203 6.67473C13.8627 6.67473 13.5743 6.41474 13.5462 6.07159C13.4882 5.35202 13.0046 4.7445 12.3162 4.52302C11.9689 4.41097 11.779 4.04068 11.8906 3.69666C12.0041 3.35175 12.3724 3.16442 12.7206 3.27297C13.919 3.65901 14.7586 4.71561 14.8615 5.96479C14.8905 6.32632 14.6206 6.64322 14.2575 6.6721C14.239 6.67385 14.2214 6.67473 14.203 6.67473Z"
                    fill="currentColor" />
                </svg>
                <span class="tp-product-tooltip tp-product-tooltip-right">{{ 'products.product.wishlist' | t }}</span>
              </button>
            {%- endif -%}
            {%- if show_compare -%}
              <button
                type="button"
                class="tp-product-action-btn-2 tp-product-add-to-compare-btn btn-reset tp-product-details-action-sm-btn-compare tp-product-details-action-sm-btn-compare-js tps__product-action-btn-js tps_tooltip"
                name="add"
                role="button"
                aria-label="button"
                data-pro-add-compare="{{ 'products.product.compare' | t }}"
                data-pro-remove-compare="{{ 'products.product.browse_compare' | t }}"
                data-product-handle="{{ product.handle }}"
              >
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.4144 6.16828L14 3.58412L11.4144 1"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M1.48883 3.58374L14 3.58374"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M4.07446 8.32153L1.48884 10.9057L4.07446 13.4898"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M14 10.9058H1.48883"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <span class="tp-product-tooltip tp-product-tooltip-right">Add To Compare</span>
              </button>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  <div class="tp-product-list-content">
    <div class="tp-product-content-2 pt-15">
      <div class="tp-product-tag-2">
        {% for collection in product.collections limit: 2 %}
          <a href="{{ collection.url }}">{{ collection.title }}</a>
          {% if forloop.last == false -%}
            ,
          {% endif %}
        {% endfor %}
      </div>

      <h3 class="tp-product-title-2">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h3>

      <div class="tp-product-rating-icon tp-product-rating-icon-2">
        {%- if show_review -%}
          {%- if product.metafields.judgeme.badge -%}
            <div
              style="{{ jm_style }}"
              class="jdgm-widget jdgm-preview-badge mt-5 tp-product-rating-icon"
              data-id="{{ product.id }}"
              {%- if block -%}
                {{ block.shopify_attributes }}
              {%- endif -%}
            >
              {{ product.metafields.judgeme.badge }}
            </div>
          {%- endif -%}
          {%- if product.metafields.reviews.rating.value == null -%}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
              <div class="tp-product-rating-icon">
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
              </div>
            </span>
          {% endif %}
          {%- if product.metafields.spr.reviews -%}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
        {%- endif -%}
      </div>

      <div class="tp-product-price-wrapper-2">
        {% comment %} variation price {% endcomment %}
        {%- assign minPrice = null -%}
        {%- assign maxPrice = null -%}

        {%- for variant in product.variants -%}
          {%- if minPrice == null or variant.price < minPrice -%}
            {%- assign minPrice = variant.price -%}
          {%- endif -%}

          {%- if maxPrice == null or variant.price > maxPrice -%}
            {%- assign maxPrice = variant.price -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if minPrice != maxPrice -%}
          <span class="tp-product-price-2 new-price">{{ minPrice | money }} - {{ maxPrice | money }}</span>
        {%- else -%}
          {%- if product.selected_or_first_available_variant.compare_at_price -%}
            <span class="tp-product-price-2 new-price">
              {{- product.selected_or_first_available_variant.price | money -}}
            </span>
            <span class="tp-product-price-2 old-price">
              {{- product.selected_or_first_available_variant.compare_at_price | money -}}
            </span>
          {%- else -%}
            <span class="tp-product-price-2 new-price">
              {{- product.selected_or_first_available_variant.price | money -}}
            </span>
          {%- endif -%}
        {%- endif -%}
      </div>

      <p>
        {{ product.description | strip_html | truncate: 22 }}
      </p>
      <div class="tp-product-list-add-to-cart">
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form add-to-cart-rendom',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            class="variation_id"
            value="{{ product.selected_or_first_available_variant.id }}"
          >
          <input min="1" type="hidden" id="quantity" name="quantity" value="1">
          <button
            type="submit"
            class="product-form__submit tp-product-list-add-to-cart-btn"
            name="add"
            role="button"
            aria-label="button"
          >
            Add To Cart
          </button>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
