<section class="tp-best-area pb-60 pt-130">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-xl-6 col-lg-6">
        <div class="tp-section-title-wrapper-3 mb-45 text-center text-lg-start">
          {%- if subheading != blank -%}
            <span class="tp-section-title-pre-3">{{ subheading }}</span>
          {%- endif -%}
          {%- if heading != blank -%}
            <h3 class="tp-section-title-3">{{ heading }}</h3>
          {%- endif -%}
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="tp-product-tab-2 tp-product-tab-3  tp-tab mb-50 text-center">
          <div class="tp-product-tab-inner-3 d-flex align-items-center justify-content-center justify-content-lg-end">
            <nav>
              <div
                class="nav nav-tabs justify-content-center tp-product-tab tp-tab-menu p-relative"
                id="nav-tab"
                role="tablist">
                {%- if blocks.size > 1 -%}
                  {%- for block in blocks -%}
                    {%- liquid
                      assign tab_name = block.settings.title
                      assign current_collection = block.settings.collection
                      assign active = ''
                      if forloop.first == true
                        assign active = ' active'
                      endif

                      if block.settings.title == blank
                        assign tab_name = 'Tab ' | append: forloop.index
                        if current_collection != blank
                          assign tab_name = current_collection.title
                        endif
                      endif
                      assign collection= collections[current_collection]
                    -%}

                    <button
                      class="nav-link {{ active }}"
                      id="nav-{{ current_collection.handle }}-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-{{ current_collection.handle }}"
                      type="button"
                      role="tab"
                      aria-controls="nav-{{ current_collection.handle }}"
                      aria-selected="true">{{ tab_name }}
                      <span class="tp-product-tab-tooltip">{{ collection.products.size }}</span>
                    </button>

                  {%- endfor -%}
                {%- endif -%}
                <span id="productTabMarker" class="tp-tab-line d-none d-sm-inline-block"></span>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        {%- if blocks.size > 1 -%}
          <div class="tab-content" id="nav-tabContent">
            {%- for block in blocks -%}
              {%- liquid
                assign tab_name = block.settings.title
                assign current_collection = block.settings.collection
                assign active = ''
                if forloop.first == true
                  assign active = ' active'
                endif
                assign show = ''
                if forloop.first == true
                  assign show = ' show'
                endif

                if block.settings.title == blank
                  assign tab_name = 'Tab ' | append: forloop.index
                  if current_collection != blank
                    assign tab_name = current_collection.title
                  endif
                endif

                assign limit_products = st.limit_products | plus: 0
                assign collection= collections[current_collection]
              -%}
              <div
                class="tab-pane fade {{ show }}{{ active }}"
                id="nav-{{ current_collection.handle }}"
                role="tabpanel"
                aria-labelledby="nav-{{ current_collection.handle }}-tab"
                tabindex="0">
                <div class="row">

                  {%- if collection.products.size == 0 -%}
                    {%- for i in (1..limit_products) -%}
                      <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="tp-product-item-3 transition-3 mb-25">
                          <div class="tp-product-thumb-3 p-relative fix m-img">
                            {%- render 'responsive-image' | type: 'product' | cls: 'product_placeholder_class' -%}
                          </div>
                          <div class="tp-product-content-3 pt-15">
                            <h3 class="tp-product-title-3 mb-15">
                              <a role="link" aria-disabled="true">{{ 'products.product.product_placeholder' | t }}</a>
                            </h3>
                            <div class="tp-product-price-wrapper-3 mb-15">
                              <span class="tp-product-price-3 new-price">$100.00</span>
                              <span class="tp-product-price-3 old-price">$120.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endfor -%}
                  {%- else -%}
                    {%- for product in collection.products limit: limit_products -%}
                      <div class="col-xl-3 col-lg-3 col-sm-6">
                        {%- render 'product-item', product: product, product_item: "tp-product-item-3" -%}
                      </div>
                    {%- endfor -%}
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>