{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
  assign st = section.settings
  assign results_per_page = st.results_per_page
-%}

{%- paginate search.results by results_per_page -%}
  <section class="page-heading not-bg mt-40 mb-40">
    <div class="{{ section.settings.layout }}">
      <div class="page-head text-center">
        {% if search.performed %}
          <h1 class="heading-title search-result">
            {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
          </h1>
        {% else %}
          <h3 class="">{{ 'general.search.title' | t }}</h3>
        {% endif %}
      </div>
    </div>
  </section>
  <section
    class="facest-filters-section"
    data-section-type="page-search"
    data-section-id="{{ section.id }}"
    data-view="{{ template.name }}"
  >
    <div class="{{ section.settings.layout }} ">
      {% if search.performed %}
        <div class="row {{ product_style }}">
          {% if search.results_count != 0 %}
            {%- for item in search.results limit: results_per_page -%}
              {%- if item.object_type == 'product' -%}
                <div class="col-lg-3 col-md-4 col-6">
                  {%- render 'product-item' | product: item, product_item: "tp-product-item-3" -%}
                </div>
              {%- elsif item.object_type == 'article' -%}
                <div class="col-lg-4 col-md-4">
                  {%- render 'article-card' | article: item, style: "style-4" -%}
                </div>
              {%- endif -%}
            {%- endfor -%}
          {% endif %}
        </div>
      {% endif %}
      {% if paginate.pages > 1 %}
        <div class="mt-30">
          {% render 'pagination', paginate: paginate %}
        </div>
      {% endif %}
    </div>
  </section>
{%- endpaginate -%}

{% schema %}
{
  "name": "Search",
  "settings": [
    {
      "type": "header",
      "content": "Pagination"
    },
    {
      "type": "range",
      "id": "results_per_page",
      "label": "Results per page",
      "default": 4,
      "min": 1,
      "max": 50,
      "step": 1
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    }
  ]
}
{% endschema %}
