<script src="{{ 'compare.js' | asset_url }}" defer="defer"></script>

{%- liquid
-%}
<div class="all_product_hear">
  {%- if search.results != blank -%}
    {% paginate search.results by 50 %}
      {%- for product in search.results -%}
        <div class="tp__product-compare">
          <div class="tp__compare-row-basic">
            <div class="tp-compare-thumb" data-product-handle="{{ product.handle }}">
              <a class="bls__img-url" href="{{ product.url | within: collection }}">
                {%- if product.featured_image != blank -%}
                  <img
                    src="{{ product.featured_image | image_url }}"
                    alt="{{ product.featured_image.alt | escape }}"
                    height="auto"
                    width="auto"
                  >
                {%- else -%}
                  <img src="{{ 'product-1.jpg' | asset_url }}" height="auto" width="auto" alt="">
                {%- endif -%}
              </a>
              <h4 class="tp-compare-product-title">
                <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
              </h4>
            </div>
          </div>
          <div class="tp__compare-row-vendor">
            <div class="tp-compare-desc">
              {%- if product.vendor -%}
                <span>{{ product.vendor }}</span>
              {%- else -%}
                -
              {%- endif -%}
            </div>
          </div>
          <div class="tp__compare-row-availability">
            <div class="tp__compare-item-availability-{{ product.id }}" data-product-handle="{{ product.handle }}">
              {%- if product.available -%}
                {{ 'products.product.available' | t }}
              {%- else -%}
                {{ 'products.product.unavailable' | t }}
              {%- endif -%}
            </div>
          </div>
          <div class="tp__compare-row-price">
            <div class="tp-compare-price">
              {%- if product.compare_at_price > product.price and product.compare_at_price != blank -%}
                <span class="old-price">{{ product.compare_at_price | money }}</span>
                <span>{{ product.price | money }}</span>
              {%- else -%}
                <span>{{ product.price | money }}</span>
              {%- endif -%}
            </div>
          </div>
          <div class="tp__compare-row-cart">
            <div class="tp-compare-add-to-cart">
              {%- form 'product',
                product,
                id: product_form_id,
                class: 'form',
                novalidate: 'novalidate',
                data-type: 'add-to-cart-form'
              -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}"
                >
                <button
                  class="product-form__submit tp-btn"
                  type="submit"
                  name="add"
                  role="button"
                  aria-label="button"
                >
                  <span class="tp-btn-text">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              {%- endform -%}
            </div>
          </div>
          <div class="tp__compare-row-delete">
            <div class="tp-compare-delete">
              <button
                class="tp-compare-delete-btn tps__compare-remove-js"
                data-product-handle="{{ product.handle }}"
              >
                <span class="tp-compare-delete-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      {%- endfor -%}
    {% endpaginate %}
  {%- endif -%}
</div>
<div
  class="tps__compare-page-section"
  data-section-type="page-compare"
  data-section-id="{{ section.id }}"
  data-view="{{ template.name }}"
>
  <div class="tps__compare-no-product-js d-none mt-50 mb-50">
    <h3 class="tps__compare-no-product-text" style="text-align: center;">
      {{ 'templates.compare.no_product' | t }}
      <a class="tps__compare-no-product-url" style="text-decoration: underline;" href="/collections/all">
        {{- 'templates.compare.redirect' | t -}}
      </a>
    </h3>
  </div>
  <section class="tp-compare-area pb-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="tp-compare-table table-responsive text-center">
            <table class="table">
              <tbody>
                <tr class="tp__compare-row-basic">
                  <th>{{ 'products.product.product_title' | t }}</th>
                </tr>
                <tr class="tp-compare-desc-1">
                  <th>{{ 'products.product.vendor' | t }}</th>
                </tr>
                <tr class="tp__compare-row-availability">
                  <th>{{ 'products.product.availability' | t }}</th>
                </tr>
                <tr class="tp__compare-row-price">
                  <th>{{ 'products.product.price.price' | t }}</th>
                </tr>
                <tr class="tp__compare-row-cart">
                  <th>{{ 'products.product.add_to_cart' | t }}</th>
                </tr>
                <tr class="tp__compare-row-delete">
                  <th>Remove</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% schema %}
{
  "name": "Content container",
  "settings": [
    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    }
  ]
}
{% endschema %}
