<script src="{{ 'wishlist.js' | asset_url }}" defer="defer"></script>
{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'wishlist.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign th_st = settings
  assign product_style = th_st.product_style
-%}

<section
  class="tp-cart-area pb-120 tps__section tps__product tps__wishlist-page-section"
  data-section-type="page-wishlist"
  data-section-id="{{ section.id }}"
  data-view="{{ template.name }}"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="tp-cart-list mb-45 mr-30 tps__wishlist-page-section-inner">
          <div class="{{ section.settings.layout }} tps__wishlist-page-main tps__grid {{ product_style }}">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2" class="tp-cart-header-product">Product</th>
                  <th class="tp-cart-header-price">Price</th>
                  <th class="tp-cart-header-quantity">Add To Cart</th>
                  <th>Action</th>
                  <th></th>
                </tr>
              </thead>
              {%- if search.results != blank -%}
                {% paginate search.results by 50 %}
                  <tbody>
                    {%- for item in search.results -%}
                      <tr data-product-handle="{{ item.handle }}">
                        <td class="tp-cart-img">
                          <a href="{{ item.url | within: collection }}">
                            <img
                              src=" {{ item.featured_image | image_url }}"
                              alt="{{ item.title }}"
                              height="auto"
                              width="auto"
                          ></a>
                        </td>
                        <td class="tp-cart-title">
                          <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
                        </td>
                        <td class="tp-cart-price">
                          <span>
                            {{ item.price | money }}
                          </span>
                        </td>

                        <td class="tp-cart-add-to-cart">
                          {%- form 'product',
                            item,
                            id: product_form_id,
                            class: 'form add-to-cart-rendom',
                            novalidate: 'novalidate',
                            data-type: 'add-to-cart-form'
                          -%}
                            <input
                              type="hidden"
                              name="id"
                              class="variation_id"
                              value="{{ item.selected_or_first_available_variant.id }}"
                            >
                            <input min="1" type="hidden" id="quantity" name="quantity" value="1">
                            <button
                              type="submit"
                              name="add"
                              role="button"
                              aria-label="button"
                              class="tp-btn tp-btn-2 tp-btn-blue add-product-cart-btn"
                            >
                              Add To Cart
                            </button>
                          {%- endform -%}
                        </td>
                        <td class="tp-cart-action">
                          <button
                            class="tp-cart-action-btn remove_item_wishlist"
                            data-product-handle="{{ item.handle }}"
                          >
                            <svg
                              width="10"
                              height="10"
                              viewBox="0 0 10 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.53033 1.53033C9.82322 1.23744 9.82322 0.762563 9.53033 0.46967C9.23744 0.176777 8.76256 0.176777 8.46967 0.46967L5 3.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L3.93934 5L0.46967 8.46967C0.176777 8.76256 0.176777 9.23744 0.46967 9.53033C0.762563 9.82322 1.23744 9.82322 1.53033 9.53033L5 6.06066L8.46967 9.53033C8.76256 9.82322 9.23744 9.82322 9.53033 9.53033C9.82322 9.23744 9.82322 8.76256 9.53033 8.46967L6.06066 5L9.53033 1.53033Z" fill="currentColor"/>
                            </svg>
                            <span>Remove</span>
                          </button>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                {% endpaginate %}
              {%- endif -%}
            </table>
            <div class="tps__wishlist-no-product-js d-none tp-cart-bottom mt-40">
              <h3 class="tps__wishlist-no-product-text">
                {{ 'templates.wishlist.no_product' | t }}
                <a class="tps__wishlist-no-product-url" href="/collections/all">
                  {{- 'templates.wishlist.redirect' | t -}}
                </a>
              </h3>
            </div>
          </div>
        </div>
        <div class="tp-cart-bottom">
          <div class="row align-items-end">
            <div class="col-xl-6 col-md-4">
              <div class="tp-cart-update">
                <a href="/cart" class="tp-cart-update-btn">Go To Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Content container",
  "settings": [
    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Default"
        },
        {
          "value": "container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ]
    }
  ]
}
{% endschema %}
