{%- liquid
  assign st = section.settings
  assign title = st.title
  assign subtitle = st.subtitle
  assign limit_products = st.limit_products
-%}
{%- capture style -%}
    padding-top: {{ st.padding_top }}px; padding-bottom: {{ st.padding_bottom }}px;
  {%- endcapture -%}
<section
  class="tp-best-seller-area pt-110 pb-60"
  style="{{ style | strip | strip_newlines }}"
  id="{{ section.id }}"
  data-id="{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
        <div class="tp-best-banner-5 p-relative mr-20">
          <div class="tp-best-banner-slider-active-5 swiper-container">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                <div class="tp-best-banner-item-5 p-relative fix swiper-slide">
                  <a href="{%- if block.settings.banner_link -%}{{ block.settings.banner_link }}{%- else -%} # {%- endif -%}">
                    <div class="tp-best-banner-thumb-5 include-bg grey-bg" data-background="{%- if block.settings.banner_bg_image != blank -%}{{ block.settings.banner_bg_image | image_url }}{%- else -%}{{ 'product-banner-1.jpg' | asset_url }}{%- endif -%} "></div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="tp-best-banner-slider-dot-5 tp-swiper-dot"></div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <div class="tp-best-slider-wrapper-5">
          <div class="tp-section-title-wrapper-5 mb-35">
            {% if subtitle != blank %}
              <span class="tp-section-title-pre-5 has-mb-0">{{ subtitle }}
                <svg
                  width="82"
                  height="22"
                  viewBox="0 0 82 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M81 14.5798C0.890564 -8.05914 -5.81154 0.0503902 5.00322 21"
                    stroke="currentColor"
                    stroke-opacity="0.3"
                    stroke-width="2"
                    stroke-miterlimit="3.8637"
                    stroke-linecap="round" />
                </svg>
              </span>
            {% endif %}
            {%- if title != blank -%}
              <h3 class="tp-section-title-5">{{ title }}</h3>
            {%- endif -%}
          </div>
          <div class="tp-best-slider-5 p-relative">
            <div class="tp-best-slider-active-5 swiper-container">
              <div class="swiper-wrapper">
                {%- assign collection = collections[st.product_collection_link] -%}
                {%- if collection.products.size == 0 -%}
                  {%- for i in (1..limit_products) -%}
                    <div class="tp-best-item-5 swiper-slide">
                      <div class="tp-best-item-5 swiper-slide">
                        <div class="tp-product-item-5 p-relative white-bg mb-40">
                          <div class="tp-product-thumb-5 w-img fix mb-15">
                            {%- render 'responsive-image' | type: 'product' | cls: 'product_placeholder_class' -%}
                          </div>
                          <div class="tp-product-content-5">
                            <div class="tp-product-tag-5">
                              <span>
                                <a role="link" aria-disabled="true">demo,
                                </a>
                              </span>
                              <span>
                                <a role="link" aria-disabled="true">demo</a>
                              </span>
                            </div>
                            <h3 class="tp-product-title-5">
                              <a role="link" aria-disabled="true">{{ 'products.product.product_placeholder' | t }}</a>
                            </h3>
                            <div class="tp-product-rating-5">
                              <span>
                                <i class="fa-solid fa-star"></i>
                              </span>
                              <span>
                                <i class="fa-solid fa-star"></i>
                              </span>
                              <span>
                                <i class="fa-solid fa-star"></i>
                              </span>
                              <span>
                                <i class="fa-solid fa-star"></i>
                              </span>
                              <span>
                                <i class="fa-solid fa-star-half-stroke"></i>
                              </span>
                            </div>
                            <div class="tp-product-price-wrapper-5">
                              <span class="tp-product-price-5 new-price">$76.00</span>
                              <span class="tp-product-price-5 old-price">$84.00</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- endfor -%}
                {%- else -%}
                  {%- for product in collection.products limit: limit_products -%}
                    <div class="tp-best-item-5 swiper-slide">
                      {%- render 'product-item' | product: product, product_item: "tp-product-item-5" -%}
                    </div>
                  {%- endfor -%}
                {%- endif -%}
              </div>
            </div>
            <div class="tp-best-slider-arrow-5 d-none d-sm-block">
              <button type="submit" class="tp-best-slider-5-button-prev">
                <svg
                  width="8"
                  height="14"
                  viewBox="0 0 8 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7 13L1 7L7 1"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
              <button type="button" class="tp-best-slider-5-button-next">
                <svg
                  width="8"
                  height="14"
                  viewBox="0 0 8 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1 13L7 7L1 1"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <div class="tp-best-slider-dot-5 tp-swiper-dot mt-15 text-center d-sm-none"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product With Banner 2",
  "settings": [
    {
      "type": "header",
      "content": "Products Collection"
    },
    {
      "type": "collection",
      "id": "product_collection_link",
      "label": "Product collection link"
    },
    {
      "type": "range",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 6,
      "label": "Items Limit",
      "id": "limit_products"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Bestsellers of the week"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "More to Discover"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "product_banner_item",
      "name": "Product banner item",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_bg_image",
          "label": "Banner Background image"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product With Banner 2",
      "blocks": [
        {
          "type": "product_banner_item"
        },
        {
          "type": "product_banner_item"
        },
        {
          "type": "product_banner_item"
        },
        {
          "type": "product_banner_item"
        }
      ]
    }
  ]
}
{% endschema %}